---
http_interactions:
- request:
    method: get
    uri: http://api.fixer.io/latest?base=eur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 03 Feb 2017 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"EUR","date":"2017-02-03","rates":{"AUD":1.4057,"BGN":1.9558,"BRL":3.3641,"CAD":1.4023,"CHF":1.0695,"CNY":7.3776,"CZK":27.021,"DKK":7.4376,"GBP":0.86013,"HKD":8.3343,"HRK":7.4331,"HUF":309.46,"IDR":14334.0,"ILS":4.0323,"INR":72.31,"JPY":121.49,"KRW":1232.2,"MXN":22.016,"MYR":4.7561,"NOK":8.8568,"NZD":1.4781,"PHP":53.461,"PLN":4.2972,"RON":4.5158,"RUB":63.611,"SEK":9.442,"SGD":1.5186,"THB":37.653,"TRY":4.0118,"USD":1.0741,"ZAR":14.421}}'
  recorded_at: Mon, 06 Feb 2017 05:25:14 GMT
- request:
    method: get
    uri: http://api.fixer.io/latest?base=usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 03 Feb 2017 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"USD","date":"2017-02-03","rates":{"AUD":1.3087,"BGN":1.8209,"BRL":3.132,"CAD":1.3056,"CHF":0.99572,"CNY":6.8686,"CZK":25.157,"DKK":6.9245,"GBP":0.80079,"HKD":7.7593,"HRK":6.9203,"HUF":288.11,"IDR":13345.0,"ILS":3.7541,"INR":67.321,"JPY":113.11,"KRW":1147.2,"MXN":20.497,"MYR":4.428,"NOK":8.2458,"NZD":1.3761,"PHP":49.773,"PLN":4.0007,"RON":4.2043,"RUB":59.223,"SEK":8.7906,"SGD":1.4138,"THB":35.055,"TRY":3.735,"ZAR":13.426,"EUR":0.93101}}'
  recorded_at: Mon, 06 Feb 2017 05:25:14 GMT
recorded_with: VCR 3.0.3
