---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.xchange%20WHERE%20pair%20IN(%22USDAUD%22,%22USDBGN%22,%22USDBRL%22,%22USDCAD%22,%22USDCHF%22,%22USDCNY%22,%22USDCZK%22,%22USDDKK%22,%22USDGBP%22,%22USDHKD%22,%22USDHRK%22,%22USDHUF%22,%22USDIDR%22,%22USDILS%22,%22USDINR%22,%22USDJPY%22,%22USDKRW%22,%22USDMXN%22,%22USDMYR%22,%22USDNOK%22,%22USDNZD%22,%22USDPHP%22,%22USDPLN%22,%22USDRON%22,%22USDRUB%22,%22USDSEK%22,%22USDSGD%22,%22USDTHB%22,%22USDTRY%22,%22USDUSD%22,%22USDZAR%22,%22USDEUR%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - main-232793b2-1df8-11e6-a4df-d4ae52974c31
      Content-Type:
      - application/json; charset=UTF-8
      Y-Trace:
      - BAEAQAAAAACnJeMgJVAUZgAAAAAAAAAA8mnMwQ6B9T4AAAAAAAAAAAAFNA6FJaMLAAU0DoUm7O3PhG_5AAAAAA--
    body:
      encoding: UTF-8
      string: '{"query":{"count":32,"created":"2016-05-30T12:37:31Z","lang":"en-US","results":{"rate":[{"id":"USDAUD","Name":"USD/AUD","Rate":"1.3924","Date":"5/30/2016","Time":"11:12am","Ask":"1.3928","Bid":"1.3924"},{"id":"USDBGN","Name":"USD/BGN","Rate":"1.7575","Date":"5/30/2016","Time":"12:57pm","Ask":"1.7662","Bid":"1.7575"},{"id":"USDBRL","Name":"USD/BRL","Rate":"3.6109","Date":"5/30/2016","Time":"11:31am","Ask":"3.6146","Bid":"3.6109"},{"id":"USDCAD","Name":"USD/CAD","Rate":"1.3064","Date":"5/30/2016","Time":"10:47am","Ask":"1.3066","Bid":"1.3064"},{"id":"USDCHF","Name":"USD/CHF","Rate":"0.9926","Date":"5/30/2016","Time":"10:13am","Ask":"0.9928","Bid":"0.9926"},{"id":"USDCNY","Name":"USD/CNY[...]
