---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.xchange%20WHERE%20pair%20IN(%22USDAUD%22,%22USDBGN%22,%22USDBRL%22,%22USDCAD%22,%22USDCHF%22,%22USDCNY%22,%22USDCZK%22,%22USDDKK%22,%22USDGBP%22,%22USDHKD%22,%22USDHRK%22,%22USDHUF%22,%22USDIDR%22,%22USDILS%22,%22USDINR%22,%22USDJPY%22,%22USDKRW%22,%22USDMXN%22,%22USDMYR%22,%22USDNOK%22,%22USDNZD%22,%22USDPHP%22,%22USDPLN%22,%22USDRON%22,%22USDRUB%22,%22USDSEK%22,%22USDSGD%22,%22USDTHB%22,%22USDTRY%22,%22USDUSD%22,%22USDZAR%22,%22USDEUR%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - prod_bf1_1;paas.yql;queryyahooapiscomproductionbf1;d587643e-e9f8-11e6-a255-d4ae52974c31
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":32,"created":"2017-02-06T05:25:15Z","lang":"en-US","results":{"rate":[{"id":"USDAUD","Name":"USD/AUD","Rate":"1.3030","Date":"2/6/2017","Time":"1:22am","Ask":"1.3034","Bid":"1.3030"},{"id":"USDBGN","Name":"USD/BGN","Rate":"1.8209","Date":"2/3/2017","Time":"3:15pm","Ask":"N/A","Bid":"1.8209"},{"id":"USDBRL","Name":"USD/BRL","Rate":"3.1172","Date":"2/6/2017","Time":"2:30am","Ask":"3.1192","Bid":"3.1172"},{"id":"USDCAD","Name":"USD/CAD","Rate":"1.3020","Date":"2/6/2017","Time":"1:48am","Ask":"1.3020","Bid":"1.3020"},{"id":"USDCHF","Name":"USD/CHF","Rate":"0.9922","Date":"2/6/2017","Time":"2:31am","Ask":"0.9923","Bid":"0.9922"},{"id":"USDCNY","Name":"USD/CNY","Rate":"6[...]
