---
http_interactions:
- request:
    method: get
    uri: https://api.bitfinex.com/v1/pubticker/btcusd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"59136e30c95f01b5c136770220aa846e"'
      X-Iinfo:
      - 10-121398064-121388225 PNNN RT(1466405921277 608) q(0 0 0 -1) r(1 1) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"mid":"763.26999999999995","bid":"763.23","ask":"763.3099999999999","last_price":"763.0","low":"743.1","high":"775.0","volume":"25691.14266963","timestamp":"1466405921.347352017"}'
  recorded_at: Mon, 20 Jun 2016 06:58:43 GMT
- request:
    method: get
    uri: https://api.bitfinex.com/v1/pubticker/ltcusd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"631b709f658a68d802be723ff93619e4"'
      X-Iinfo:
      - 8-96464173-96432433 PNNN RT(1466405922881 596) q(0 0 0 -1) r(1 1) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"mid":"5.5237","bid":"5.5105","ask":"5.5369","last_price":"5.5105","low":"5.4952","high":"5.6365","volume":"17967.21301685","timestamp":"1466405918.717334694"}'
  recorded_at: Mon, 20 Jun 2016 06:58:44 GMT
recorded_with: VCR 3.0.3
