---
http_interactions:
- request:
    method: get
    uri: https://api.bitfinex.com/v1/pubticker/btcusd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ace1421ffbebc7f9646b5775d2d31d4f"'
    body:
      encoding: ASCII-8BIT
      string: '{"mid":"1016.85","bid":"1016.8","ask":"1016.9","last_price":"1016.9","low":"995.1","high":"1030.0","volume":"16534.79967545","timestamp":"1486358679.270216686"}'
  recorded_at: Mon, 06 Feb 2017 05:24:39 GMT
- request:
    method: get
    uri: https://api.bitfinex.com/v1/pubticker/ltcusd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c861897fcc79195fa6c297affec0e42a"'
    body:
      encoding: ASCII-8BIT
      string: '{"mid":"3.93805","bid":"3.9321","ask":"3.944","last_price":"3.9526","low":"3.895","high":"4.0084","volume":"10408.11372017","timestamp":"1486358680.942981676"}'
  recorded_at: Mon, 06 Feb 2017 05:24:41 GMT
recorded_with: VCR 3.0.3
