---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/ticker/btcusd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"6294c-c6-5358c763fe1e1"'
      Last-Modified:
      - Sat, 18 Jun 2016 12:17:59 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 9-56714738-0 0CNN RT(1466252292066 592) q(0 -1 -1 -1) r(0 -1)
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "757.96000", "last": "751.97000", "timestamp": "1466252278",
        "bid": "751.47000", "vwap": "745.36091", "volume": "6901.58275229", "low":
        "723.02000", "ask": "751.97000", "open": "745.00000"}'
  recorded_at: Sat, 18 Jun 2016 12:18:13 GMT
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/ticker/btceur/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"62428-c6-5358c76731722"'
      Last-Modified:
      - Sat, 18 Jun 2016 12:18:02 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 9-56715209-0 0CNN RT(1466252293557 573) q(0 -1 -1 -1) r(0 -1)
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "679.08000", "last": "674.50000", "timestamp": "1466252282",
        "bid": "670.67000", "vwap": "668.63961", "volume": "1356.06136004", "low":
        "659.34000", "ask": "674.50000", "open": "672.15000"}'
  recorded_at: Sat, 18 Jun 2016 12:18:15 GMT
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/ticker/eurusd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"62a85-b6-5358c76799efe"'
      Last-Modified:
      - Sat, 18 Jun 2016 12:18:02 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 9-56715632-0 0CNN RT(1466252295021 664) q(0 -1 -1 -1) r(0 -1)
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "1.12350", "last": "1.11002", "timestamp": "1466252282", "bid":
        "1.11003", "vwap": "1.11349", "volume": "55451.55469", "low": "1.09500", "ask":
        "1.12496", "open": "1.11002"}'
  recorded_at: Sat, 18 Jun 2016 12:18:16 GMT
recorded_with: VCR 3.0.3
