---
http_interactions:
- request:
    method: get
    uri: http://api.huobi.com/staticmarket/ticker_btc_json.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"1466406799","ticker":{"open":5108.77,"vol":512967.119,"symbol":"btccny","last":5084.51,"buy":5084.51,"sell":5084.93,"high":5138,"low":5010.5}
        }'
  recorded_at: Mon, 20 Jun 2016 07:13:19 GMT
- request:
    method: get
    uri: http://api.huobi.com/staticmarket/ticker_ltc_json.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"1466406800","ticker":{"open":37.46,"vol":46953638.9983,"symbol":"ltccny","last":36.92,"buy":36.91,"sell":36.92,"high":37.59,"low":36.59}
        }'
  recorded_at: Mon, 20 Jun 2016 07:13:20 GMT
recorded_with: VCR 3.0.3
