---
http_interactions:
- request:
    method: get
    uri: https://data.btcchina.com/data/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"ticker":{"high":"7281.62","low":"7130.00","buy":"7225.01","sell":"7243.00","last":"7243.99","vol":"9205.16760000","date":1486358683,"vwap":"7219.33","prev_close":"7180","open":"7180"}}'
  recorded_at: Mon, 06 Feb 2017 05:24:45 GMT
recorded_with: VCR 3.0.3
