---
http_interactions:
- request:
    method: get
    uri: https://coinbase.com/api/v1/currencies/exchange_rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"8a609893ea2d15baa47868b4f5661d80"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"usd_to_mzn":"61.027501","bbd_to_usd":"0.5","btc_to_awg":"1365.156813","ttd_to_usd":"0.150723","idr_to_usd":"0.000075","xpf_to_eth":"0.000779","eth_to_kmf":"5255.739782","btc_to_top":"1706.164928","amd_to_eth":"0.000173","usd_to_gel":"2.17928","btc_to_bsd":"761.24","eth_to_sar":"45.417053","btc_to_pkr":"79633.317161","eth_to_gip":"8.433792","sek_to_btc":"0.000158","cop_to_btc":"0.0","eth_to_idr":"161504.207663","omr_to_usd":"2.596796","usd_to_shp":"0.696432","uzs_to_usd":"0.00034","eth_to_mtl":"8.280067","all_to_eth":"0.000674","usd_to_pln":"3.913989","eth_to_lsl":"183.605644","btc_to_ang":"1361.725143","ugx_to_btc":"0.0","usd_to_tzs":"2190.916634","btc_to_uzs":"2242228.609994","pkr_to_eth":"0.000789","ltl_to_btc":"0.000433","cop_to_eth":"0.000027","eth_to_ugx":"40575.7656","sbd_to_usd":"0.128229","eth_to_bnd":"16.335034","usd_to_nok":"8.358579","eth_to_mnt":"23678.0775","sos_to_usd":"0.001708","btc_to_btn":"51065.817595","btc_to_ern":"11417.45814","eth_to_pln":"47.398407","bgn_to_usd":"0.57666","btc_to_bif":"1196344.098825","nok_to_eth":"0.009879","pyg_to_btc":"0.0","sos_to_btc":"0.000002","usd_to_dzd":"109.945401","eth_to_rsd":"1323.581342","fjd_to_usd":"0.480727","rwf_to_eth":"0.000108","eth_to_mur":"429.56925","aed_to_eth":"0.022482","usd_to_crc":"542.952003","bsd_to_btc":"0.001314","btc_to_azn":"1159.273365","usd_to_cny":"6.58479","btc_to_bam":"1320.249743","usd_to_uzs":"2945.494995","rub_to_btc":"0.00002","eth_to_dop":"556.339939","eth_to_pyg":"68651.993663","ars_to_eth":"0.005941","pln_to_usd":"0.255494","eth_to_vuv":"1356.077812","btc_to_hkd":"5907.868693","eth_to_qar":"44.083791","eth_to_php":"562.36854","btc_to_zar":"11529.314746","btc_to_jod":"539.037089","clf_to_btc":"0.053405","kgs_to_btc":"0.000019","eth_to_xdr":"8.579196","bhd_to_eth":"0.219084","awg_to_btc":"0.000733","usd_to_ils":"3.86762","rub_to_usd":"0.015438","bwp_to_eth":"0.007513","usd_to_ang":"1.788825","btc_to_shp":"530.151896","usd_to_huf":"278.602202","usd_to_sos":"585.502878","btc_to_zwl":"245414.067906","usd_to_nzd":"1.417737","tjs_to_btc":"0.000167","iqd_to_btc":"0.000001","eth_to_gtq":"92.507685","ghs_to_btc":"0.000335","usd_to_mmk":"1183.549964","aud_to_eth":"0.061061","btc_to_mmk":"900965.574595","eth_to_vnd":"269814.836663","aoa_to_eth":"0.000498","btc_to_all":"93244.211476","bwp_to_btc":"0.00012","lrd_to_eth":"0.000912","gip_to_btc":"0.001886","kwd_to_usd":"3.316332","btc_to_srd":"5325.25442","btc_to_aoa":"126208.13467","btn_to_btc":"0.00002","btc_to_mad":"7379.765056","eth_to_pgk":"38.257609","bzd_to_usd":"0.499553","usd_to_mad":"9.6944","eth_to_htg":"762.409125","gel_to_usd":"0.458867","php_to_btc":"0.000028","eth_to_kpw":"10900.0899","eth_to_cny":"79.741807","usd_to_lvl":"0.622318","pgk_to_usd":"0.316538","sdg_to_btc":"0.000216","btc_to_bmd":"761.24","lyd_to_eth":"0.060506","cuc_to_eth":"0.082576","kmf_to_usd":"0.002304","eth_to_gmd":"515.269117","btc_to_aed":"2796.095419","eth_to_xpf":"1282.94172","uyu_to_usd":"0.032694","eth_to_tzs":"26532.000438","eth_to_bzd":"24.241653","fjd_to_eth":"0.039697","szl_to_eth":"0.005444","usd_to_zwl":"322.387247","try_to_usd":"0.341637","nzd_to_btc":"0.000927","hkd_to_eth":"0.01064","btc_to_cop":"2292485.670988","usd_to_jep":"0.696432","ngn_to_eth":"0.000415","thb_to_btc":"0.000037","wst_to_usd":"0.394576","zmw_to_eth":"0.007549","mop_to_usd":"0.125134","usd_to_xau":"0.00077","eth_to_lyd":"16.52728","nio_to_eth":"0.002889","eth_to_nad":"183.559626","usd_to_khr":"4095.025025","mur_to_eth":"0.002328","bgn_to_eth":"0.047618","aoa_to_btc":"0.000008","usd_to_clf":"0.024598","usd_to_std":"21729.25","clp_to_eth":"0.00012","eth_to_fkp":"8.433792","uyu_to_eth":"0.0027","btc_to_kzt":"257859.387311","eth_to_myr":"49.513673","bsd_to_eth":"0.082576","usd_to_xaf":"583.350914","eth_to_bob":"83.429544","btc_to_bnd":"1026.827501","pln_to_eth":"0.021098","btc_to_mnt":"1488414.51","eth_to_bif":"19031.746935","kes_to_btc":"0.000013","myr_to_btc":"0.000321","clf_to_usd":"40.653712","btc_to_gyd":"156401.819485","bam_to_btc":"0.000757","mga_to_btc":"0.0","irr_to_eth":"0.000003","xau_to_usd":"1298.701299","mzn_to_btc":"0.000022","clp_to_usd":"0.001459","eth_to_yer":"3026.264792","eth_to_nzd":"17.168795","ars_to_btc":"0.000095","eur_to_eth":"0.093115","btc_to_htg":"47925.377545","eth_to_mga":"39547.122219","nio_to_btc":"0.000046","usd_to_egp":"8.878888","usd_to_mop":"7.99143","eth_to_mdl":"239.199021","chf_to_usd":"1.041289","sar_to_eth":"0.022018","tnd_to_usd":"0.462858","shp_to_usd":"1.43589","xag_to_btc":"0.02295","sos_to_eth":"0.000141","mur_to_usd":"0.028191","btc_to_dop":"34971.77667","cuc_to_btc":"0.001314","eth_to_twd":"392.02056","eth_to_mvr":"185.6463","eth_to_sll":"47773.95","eth_to_mwk":"8598.342127","dzd_to_usd":"0.009095","pen_to_eth":"0.024882","dkk_to_eth":"0.012523","czk_to_btc":"0.000055","btc_to_aud":"1029.464436","usd_to_eth":"0.08","dzd_to_eth":"0.000751","usd_to_hkd":"7.760849","usd_to_afn":"69.405001","khr_to_usd":"0.000244","eur_to_btc":"0.001481","nok_to_usd":"0.119638","btc_to_xdr":"539.292104","hnl_to_eth":"0.003633","gbp_to_btc":"0.001886","btc_to_gbp":"530.151896","eth_to_zmk":"63602.019662","usd_to_dkk":"6.593938","mzn_to_eth":"0.001353","yer_to_btc":"0.000005","awg_to_usd":"0.557621","gtq_to_usd":"0.130908","eth_to_jpy":"1261.476902","pyg_to_usd":"0.000176","xag_to_usd":"17.470148","btc_to_dzd":"83694.837057","btc_to_sar":"2854.936226","kpw_to_btc":"0.000001","bhd_to_usd":"2.653111","eth_to_pkr":"1266.827112","usd_to_gip":"0.696432","eth_to_azn":"18.442016","eth_to_gyd":"2488.080019","ngn_to_usd":"0.005023","sbd_to_btc":"0.000168","mkd_to_usd":"0.018323","usd_to_mxn":"18.8378","vuv_to_btc":"0.000012","eth_to_scr":"159.280529","bmd_to_btc":"0.001314","twd_to_eth":"0.002551","eth_to_sos":"7090.439853","kes_to_usd":"0.009889","mtl_to_eth":"0.120772","std_to_usd":"0.000046","eth_to_hnl":"275.226755","dkk_to_btc":"0.000199","usd_to_sll":"3945.0","kzt_to_btc":"0.000004","rsd_to_eth":"0.000756","cuc_to_usd":"1.0","kzt_to_eth":"0.000244","eth_to_isk":"1492.42429","btc_to_lvl":"473.733354","cny_to_btc":"0.000199","mvr_to_usd":"0.065232","ern_to_btc":"0.000088","usd_to_uah":"24.88337","eth_to_sdg":"73.717433","eth_to_afn":"840.494562","btc_to_xcd":"2057.646945","usd_to_bif":"1571.572827","eth_to_all":"1483.352689","usd_to_vuv":"111.980001","usd_to_eek":"13.87445","usd_to_cop":"3011.51499","usd_to_mwk":"710.019994","btc_to_kyd":"627.324182","eth_to_crc":"6575.148756","zwl_to_usd":"0.003102","pab_to_eth":"0.082576","eth_to_ils":"46.836878","bbd_to_btc":"0.000657","eth_to_pen":"40.18982","idr_to_eth":"0.000006","btc_to_mwk":"540495.620233","btc_to_kes":"76975.599188","usd_to_xof":"586.990014","eth_to_mxn":"228.125758","usd_to_btn":"67.082415","bmd_to_usd":"1.0","btc_to_std":"16541174.27","btc_to_djf":"135368.453789","usd_to_cup":"24.728383","btc_to_hrk":"5077.391631","khr_to_eth":"0.00002","fjd_to_btc":"0.000632","btc_to_gtq":"5815.074298","dkk_to_usd":"0.151654","ngn_to_btc":"0.000007","rsd_to_btc":"0.000012","usd_to_cve":"98.425884","amd_to_btc":"0.000003","usd_to_lak":"8102.175098","vnd_to_btc":"0.0","vuv_to_eth":"0.000737","chf_to_eth":"0.085986","gtq_to_btc":"0.000172","tzs_to_eth":"0.000038","all_to_usd":"0.008164","eth_to_mkd":"660.922142","usd_to_bsd":"1.0","btc_to_mkd":"41545.860534","gip_to_usd":"1.43589","lbp_to_eth":"0.000055","syp_to_eth":"0.000377","jmd_to_usd":"0.007969","irr_to_usd":"0.000033","clp_to_btc":"0.000002","svc_to_eth":"0.009444","btc_to_tmm":"975.966266","btc_to_ugx":"2550610.718879","pkr_to_btc":"0.000013","btc_to_wst":"1929.259251","gmd_to_usd":"0.023502","bwp_to_usd":"0.090982","btc_to_pab":"761.24","cny_to_eth":"0.01254","eth_to_nio":"346.182394","usd_to_bhd":"0.376916","btc_to_isk":"93814.45636","npr_to_eth":"0.000769","btc_to_kwd":"229.542787","rub_to_eth":"0.001275","szl_to_btc":"0.000087","usd_to_kyd":"0.824082","usd_to_ltc":"1.0","crc_to_eth":"0.000152","btc_to_fkp":"530.151896","usd_to_clp":"685.629004","btc_to_sdg":"4633.910716","usd_to_ltl":"3.030717","btc_to_twd":"24642.587234","lbp_to_usd":"0.000662","btc_to_syp":"166687.960038","amd_to_usd":"0.002094","eth_to_uzs":"35669.944389","usd_to_sar":"3.750376","fkp_to_eth":"0.118571","djf_to_eth":"0.000464","mzn_to_usd":"0.016386","afn_to_eth":"0.00119","xaf_to_eth":"0.000142","xau_to_eth":"107.242056","vef_to_btc":"0.000132","mvr_to_btc":"0.000086","nad_to_btc":"0.000087","jep_to_usd":"1.43589","usd_to_wst":"2.534364","btc_to_kmf":"330378.146298","lsl_to_btc":"0.000087","jep_to_eth":"0.118571","mmk_to_usd":"0.000845","eth_to_aud":"16.376983","mwk_to_eth":"0.000116","zmk_to_btc":"0.0","bzd_to_eth":"0.041251","zmw_to_usd":"0.091418","gyd_to_btc":"0.000006","usd_to_ghs":"3.91575","btc_to_bzd":"1523.841097","usd_to_cdf":"943.0165","usd_to_tmt":"3.504983","ttd_to_eth":"0.012446","usd_to_gtq":"7.63895","btc_to_xag":"43.573758","zmk_to_eth":"0.000016","mxn_to_eth":"0.004384","lak_to_eth":"0.00001","btc_to_yer":"190232.354281","usd_to_fjd":"2.080183","btc_to_thb":"26830.375769","eth_to_clp":"8302.967238","pen_to_usd":"0.30132","omr_to_btc":"0.003411","gbp_to_eth":"0.118571","krw_to_usd":"0.000854","gyd_to_eth":"0.000402","djf_to_usd":"0.005623","inr_to_usd":"0.014908","aud_to_btc":"0.000971","gel_to_btc":"0.000603","usd_to_kmf":"433.999982","usd_to_pkr":"104.610001","eth_to_bbd":"24.22","eth_to_bsd":"12.11","usd_to_pyg":"5669.033333","usd_to_zmk":"5252.024745","usd_to_xag":"0.0572405","sar_to_btc":"0.00035","usd_to_gmd":"42.54906","iqd_to_eth":"0.000071","hkd_to_usd":"0.128852","eth_to_vef":"120.766975","usd_to_irr":"30332.0","rwf_to_btc":"0.000002","jod_to_btc":"0.001855","sgd_to_eth":"0.0612","eth_to_bwp":"133.103287","eth_to_btn":"812.368046","usd_to_brl":"3.416634","usd_to_zar":"15.14544","usd_to_srd":"6.9955","bnd_to_btc":"0.000974","omr_to_eth":"0.214434","btc_to_gnf":"5595043.659902","eth_to_bgn":"21.000242","usd_to_bwp":"10.991188","usd_to_omr":"0.38509","vef_to_usd":"0.100276","btc_to_zmw":"8326.985884","usd_to_jpy":"104.1682","usd_to_pgk":"3.159175","mmk_to_btc":"0.000001","btc_to_cdf":"717861.88046","btc_to_ron":"3064.614456","ron_to_usd":"0.248397","usd_to_btc":"0.001314","usd_to_szl":"15.1686","eth_to_ttd":"80.346217","huf_to_eth":"0.000296","usd_to_bgn":"1.734124","eth_to_clf":"0.297882","azn_to_eth":"0.054224","zar_to_eth":"0.005452","kpw_to_eth":"0.000092","btc_to_khr":"3117296.850031","ron_to_eth":"0.020512","crc_to_usd":"0.001842","rwf_to_usd":"0.00131","gtq_to_eth":"0.01081","xof_to_btc":"0.000002","btc_to_brl":"2600.878466","eth_to_srd":"84.715505","eth_to_dzd":"1331.438806","btc_to_hnl":"17300.876565","brl_to_usd":"0.292686","btc_to_afn":"52833.862961","eth_to_jep":"8.433792","usd_to_mkd":"54.57656","pen_to_btc":"0.000396","btc_to_tnd":"1644.651408","btc_to_php":"35350.737166","sll_to_usd":"0.000253","lkr_to_usd":"0.006897","shp_to_btc":"0.001886","gnf_to_btc":"0.0","usd_to_mtl":"0.683738","mnt_to_btc":"0.000001","bbd_to_eth":"0.041288","btc_to_pln":"2979.484986","cad_to_btc":"0.001019","eth_to_nok":"101.222392","lkr_to_eth":"0.000569","usd_to_kwd":"0.301538","usd_to_thb":"35.24562","cve_to_btc":"0.000013","btc_to_usd":"760.85","xag_to_eth":"1.442622","btc_to_egp":"6758.964701","eth_to_aoa":"2007.751183","btc_to_byr":"15173035.68","mad_to_btc":"0.000136","mkd_to_eth":"0.001513","egp_to_eth":"0.0093","btc_to_tjs":"5989.81694","jpy_to_btc":"0.000013","btc_to_bob":"5244.418344","usd_to_bdt":"78.485369","tmt_to_btc":"0.000375","eth_to_bam":"21.00287","lyd_to_btc":"0.000963","eth_to_jod":"8.575139","gmd_to_eth":"0.001941","htg_to_btc":"0.000021","gnf_to_usd":"0.000136","usd_to_aud":"1.352352","pab_to_usd":"1.0","cdf_to_usd":"0.00106","usd_to_lkr":"145.001","gel_to_eth":"0.037892","eth_to_cuc":"12.11","usd_to_zmw":"10.938713","usd_to_bam":"1.734341","mvr_to_eth":"0.005387","thb_to_usd":"0.028372","egp_to_usd":"0.112627","std_to_btc":"0.0","btc_to_chf":"731.055312","kpw_to_usd":"0.001111","bam_to_eth":"0.047613","usd_to_eur":"0.88682","sll_to_btc":"0.0","btc_to_gmd":"32390.046434","npr_to_usd":"0.009318","btc_to_eth":"60.753341","hrk_to_usd":"0.149927","usd_to_tmm":"2.85","lvl_to_eth":"0.132692","xpf_to_btc":"0.000012","jmd_to_btc":"0.00001","dop_to_btc":"0.000029","all_to_btc":"0.000011","btc_to_lak":"6167699.771602","eur_to_usd":"1.127625","btc_to_jep":"530.151896","std_to_eth":"0.000004","byr_to_eth":"0.000004","aed_to_btc":"0.000358","btc_to_jpy":"79297.000568","eth_to_tmt":"42.445344","inr_to_eth":"0.001231","uyu_to_btc":"0.000043","mro_to_eth":"0.000232","ghs_to_eth":"0.021088","nad_to_usd":"0.065973","pln_to_btc":"0.000336","ang_to_btc":"0.000734","etb_to_usd":"0.045762","zwl_to_btc":"0.000004","twd_to_usd":"0.030891","btc_to_bgn":"1320.084554","btc_to_lbp":"1149193.266233","eth_to_svc":"105.884693","pgk_to_btc":"0.000416","eth_to_amd":"5782.282752","ils_to_usd":"0.258557","crc_to_btc":"0.000002","usd_to_djf":"177.826249","btc_to_nio":"21761.179648","lvl_to_usd":"1.606896","eth_to_ern":"181.631835","btc_to_mur":"27002.914621","azn_to_btc":"0.000863","lak_to_btc":"0.0","usd_to_vnd":"22280.333333","eth_to_ltl":"36.701983","eth_to_cad":"15.61547","xof_to_usd":"0.001704","bnd_to_eth":"0.061218","btc_to_sos":"445708.210849","zmw_to_btc":"0.00012","czk_to_usd":"0.041665","usd_to_amd":"477.479996","pkr_to_usd":"0.009559","usd_to_nad":"15.15769","bdt_to_usd":"0.012741","sdg_to_usd":"0.164276","btc_to_eek":"10561.786318","eth_to_djf":"2153.475875","btc_to_bhd":"286.923536","usd_to_bbd":"2.0","eth_to_gbp":"8.433792","aoa_to_usd":"0.006032","eth_to_xcd":"32.733572","eth_to_sek":"100.892213","jpy_to_eth":"0.000793","eth_to_npr":"1299.640356","huf_to_btc":"0.000005","btc_to_zmk":"3998051.316884","top_to_eth":"0.036843","qar_to_usd":"0.274704","kwd_to_btc":"0.004356","qar_to_btc":"0.000361","mxn_to_usd":"0.053085","btc_to_sbd":"5936.583427","tmt_to_eth":"0.02356","usd_to_inr":"67.08021","hrk_to_eth":"0.01238","fkp_to_usd":"1.43589","btc_to_cny":"5012.60554","btc_to_gip":"530.151896","mxn_to_btc":"0.00007","btc_to_kpw":"685184.5116","btc_to_jmd":"95525.716268","eth_to_lvl":"7.536271","usd_to_kpw":"900.09","eth_to_zwl":"3904.109561","usd_to_usd":"1.0","wst_to_eth":"0.032583","btc_to_omr":"293.145912","btc_to_pyg":"4315494.934413","usd_to_pen":"3.31873","mur_to_btc":"0.000037","nad_to_eth":"0.005448","btc_to_kgs":"51612.489921","btc_to_crc":"413316.782764","btc_to_try":"2228.214185","btc_to_pen":"2526.350025","btc_to_sll":"3003091.8","brl_to_eth":"0.024169","kmf_to_btc":"0.000003","chf_to_btc":"0.001368","btc_to_fjd":"1583.518507","usd_to_isk":"123.239","btc_to_rwf":"581239.091939","btc_to_eur":"675.082857","scr_to_usd":"0.076029","btc_to_czk":"18270.513628","btc_to_ltl":"2307.103009","lkr_to_btc":"0.000009","btc_to_tzs":"1667813.378466","kzt_to_usd":"0.002952","bgn_to_btc":"0.000758","eth_to_shp":"8.433792","ugx_to_eth":"0.000025","eth_to_mmk":"14332.790064","btc_to_svc":"6655.959033","usd_to_ngn":"199.067","btc_to_qar":"2771.126747","usd_to_mvr":"15.33","nio_to_usd":"0.034982","eth_to_jmd":"1519.647449","btc_to_uah":"18942.216579","cny_to_usd":"0.151865","usd_to_uyu":"30.58648","eth_to_wst":"30.691148","kwd_to_eth":"0.273851","sgd_to_usd":"0.741133","eth_to_cop":"36469.446529","usd_to_byr":"19932.0","vef_to_eth":"0.00828","djf_to_btc":"0.000007","mdl_to_usd":"0.050627","usd_to_ern":"14.9985","eth_to_byr":"241376.52","usd_to_rub":"64.776981","eth_to_std":"263141.2175","usd_to_awg":"1.793333","usd_to_htg":"62.956988","eth_to_mro":"4307.748964","nok_to_btc":"0.000157","btc_to_cuc":"761.24","eth_to_irr":"367320.52","nzd_to_usd":"0.705349","eth_to_dkk":"79.852589","eth_to_bdt":"950.457819","gbp_to_usd":"1.43589","bdt_to_btc":"0.000017","eth_to_szl":"183.691746","vnd_to_eth":"0.000004","mtl_to_usd":"1.462549","mmk_to_eth":"0.00007","mdl_to_eth":"0.004181","clf_to_eth":"3.357036","eth_to_chf":"11.629814","lak_to_usd":"0.000123","eth_to_xau":"0.009325","eek_to_usd":"0.072075","scr_to_eth":"0.006278","mdl_to_btc":"0.000067","khr_to_btc":"0.0","byr_to_usd":"0.00005","myr_to_eth":"0.020196","yer_to_eth":"0.00033","ang_to_usd":"0.559026","ars_to_usd":"0.071949","try_to_eth":"0.028211","btc_to_inr":"51064.13906","usd_to_cad":"1.289469","ugx_to_usd":"0.000298","tjs_to_usd":"0.127089","eek_to_eth":"0.005952","myr_to_usd":"0.244579","btc_to_ttd":"5050.599028","hrk_to_btc":"0.000197","usd_to_try":"2.927085","btc_to_mxn":"14340.086872","zar_to_usd":"0.066026","btc_to_dkk":"5019.569363","eth_to_ghs":"47.419733","btc_to_tmt":"2668.133259","btc_to_xau":"0.586155","bif_to_eth":"0.000053","svc_to_usd":"0.11437","wst_to_btc":"0.000518","huf_to_usd":"0.003589","nzd_to_eth":"0.058245","eth_to_omr":"4.66344","cop_to_usd":"0.000332","krw_to_btc":"0.000001","usd_to_bob":"6.88931","eth_to_lbp":"18281.659469","cup_to_eth":"0.003339","uah_to_eth":"0.003319","eth_to_kzt":"4102.092875","usd_to_bnd":"1.348888","usd_to_aed":"3.67308","btc_to_xaf":"444070.049773","gnf_to_eth":"0.000011","bif_to_usd":"0.000636","irr_to_btc":"0.0","eth_to_top":"27.142107","usd_to_mur":"35.472275","usd_to_iqd":"1165.266417","mad_to_eth":"0.008518","bdt_to_eth":"0.001052","svc_to_btc":"0.00015","xau_to_btc":"1.706034","mwk_to_usd":"0.001408","kyd_to_eth":"0.100204","cup_to_btc":"0.000053","jmd_to_eth":"0.000658","usd_to_kgs":"67.800549","gmd_to_btc":"0.000031","kmf_to_eth":"0.00019","cad_to_usd":"0.775513","rsd_to_usd":"0.009149","isk_to_eth":"0.00067","usd_to_sek":"8.331314","top_to_usd":"0.44617","hkd_to_btc":"0.000169","eth_to_xag":"0.693182","tmm_to_usd":"0.350877","btc_to_mga":"2485949.737233","eth_to_mzn":"739.043037","mtl_to_btc":"0.001921","iqd_to_usd":"0.000858","usd_to_vef":"9.9725","btc_to_nok":"6362.884678","lrd_to_usd":"0.011049","eth_to_huf":"3373.872666","eth_to_btc":"0.01646","eth_to_pab":"12.11","tmt_to_usd":"0.285308","usd_to_sdg":"6.087319","ttd_to_btc":"0.000198","usd_to_npr":"107.3196","xdr_to_usd":"1.411554","cad_to_eth":"0.064039","usd_to_top":"2.241297","eth_to_thb":"426.824458","btc_to_ghs":"2980.82553","usd_to_kes":"101.1187","sbd_to_eth":"0.010589","lyd_to_usd":"0.732728","btc_to_btc":"0.999914","eth_to_lkr":"1755.96211","lbp_to_btc":"0.000001","eth_to_xof":"7108.44907","eth_to_sbd":"94.440683","azn_to_usd":"0.656653","kyd_to_usd":"1.213471","isk_to_usd":"0.008114","btc_to_sgd":"1027.130475","eth_to_lak":"98117.340437","pab_to_btc":"0.001314","isk_to_btc":"0.000011","eek_to_btc":"0.000095","btc_to_szl":"11546.945064","sek_to_usd":"0.120029","eth_to_tjs":"95.287535","usd_to_sgd":"1.349286","xdr_to_btc":"0.001854","ltl_to_usd":"0.329955","bam_to_usd":"0.576588","htg_to_usd":"0.015884","eth_to_lrd":"1096.064596","jod_to_eth":"0.116616","eth_to_syp":"2651.714566","kgs_to_usd":"0.014749","zwl_to_eth":"0.000256","eth_to_cve":"1191.937455","usd_to_bmd":"1.0","eth_to_try":"35.446999","twd_to_btc":"0.000041","btc_to_huf":"212083.14025","usd_to_sbd":"7.79857","xdr_to_eth":"0.116561","krw_to_eth":"0.00007","btc_to_lsl":"11541.532648","pyg_to_eth":"0.000015","inr_to_btc":"0.00002","lrd_to_btc":"0.000015","usd_to_gbp":"0.696432","mad_to_usd":"0.103152","usd_to_tjs":"7.8685","mnt_to_eth":"0.000042","htg_to_eth":"0.001312","btc_to_rsd":"83200.913334","bsd_to_usd":"1.0","aud_to_usd":"0.739452","btc_to_mop":"6083.396173","usd_to_nio":"28.58649","eth_to_gnf":"89007.381012","btc_to_sek":"6342.129469","btc_to_xof":"446840.278257","btc_to_cup":"18824.234275","xaf_to_usd":"0.001714","eth_to_aed":"44.480999","btc_to_amd":"363476.872155","btc_to_nzd":"1079.238114","usd_to_rsd":"109.29656","fkp_to_btc":"0.001886","usd_to_mdl":"19.75219","eth_to_uah":"301.337611","lsl_to_usd":"0.065957","usd_to_dop":"45.94054","btc_to_ils":"2944.187049","xcd_to_btc":"0.000486","kgs_to_eth":"0.001218","ern_to_eth":"0.005506","tmm_to_btc":"0.001025","usd_to_fkp":"0.696432","bnd_to_usd":"0.741351","btc_to_clf":"18.724982","gip_to_eth":"0.118571","eth_to_ron":"48.752668","usd_to_xpf":"105.940687","usd_to_hrk":"6.669896","usd_to_lsl":"15.16149","eth_to_zar":"183.411278","ang_to_eth":"0.046162","usd_to_tnd":"2.16049","btc_to_mro":"270787.020768","eth_to_eek":"168.01959","usd_to_mro":"355.718329","sdg_to_eth":"0.013565","eth_to_ang":"21.662671","try_to_btc":"0.000449","usd_to_php":"46.43836","bmd_to_eth":"0.082576","btc_to_clp":"521928.223005","xcd_to_usd":"0.369957","vuv_to_usd":"0.00893","btn_to_eth":"0.001231","jod_to_usd":"1.412222","lsl_to_eth":"0.005446","usd_to_gyd":"205.456649","btc_to_lkr":"110380.56124","eth_to_usd":"12.5","tzs_to_btc":"0.000001","usd_to_chf":"0.960348","brl_to_btc":"0.000384","tjs_to_eth":"0.010495","egp_to_btc":"0.000148","jep_to_btc":"0.001886","srd_to_btc":"0.000188","srd_to_eth":"0.011804","usd_to_kzt":"338.735993","szl_to_usd":"0.065926","afn_to_btc":"0.000019","eth_to_uyu":"370.402273","btc_to_cve":"74925.719936","btc_to_mdl":"15036.157116","eth_to_ngn":"2410.70137","eth_to_kes":"1224.547457","eth_to_gel":"26.391081","syp_to_usd":"0.004567","usd_to_lbp":"1509.633317","php_to_eth":"0.001778","eth_to_etb":"264.627962","syp_to_btc":"0.000006","mro_to_btc":"0.000004","aed_to_usd":"0.272251","vnd_to_usd":"0.000045","bif_to_btc":"0.000001","etb_to_eth":"0.003779","btc_to_uyu":"23283.652035","uzs_to_eth":"0.000028","bob_to_btc":"0.000191","gyd_to_usd":"0.004867","eth_to_ars":"168.31362","btc_to_mtl":"520.488715","kyd_to_btc":"0.001594","usd_to_svc":"8.743575","mro_to_usd":"0.002811","btc_to_nad":"11538.639936","usd_to_scr":"13.15281","dop_to_eth":"0.001797","btc_to_bbd":"1522.48","mnt_to_usd":"0.000511","btn_to_usd":"0.014907","uah_to_usd":"0.040187","sek_to_eth":"0.009912","zmk_to_usd":"0.00019","btc_to_ars":"10580.269225","btc_to_iqd":"887047.407277","usd_to_krw":"1171.381681","czk_to_eth":"0.003441","usd_to_xdr":"0.708439","usd_to_mga":"3265.658317","yer_to_usd":"0.004002","btc_to_ngn":"151537.76308","kes_to_eth":"0.000817","eth_to_brl":"41.375438","btc_to_vnd":"16960680.946413","eth_to_rub":"784.44924","tnd_to_btc":"0.000608","zar_to_btc":"0.000087","bzd_to_btc":"0.000656","btc_to_vef":"7591.4659","dzd_to_btc":"0.000012","thb_to_eth":"0.002343","ern_to_usd":"0.066673","eth_to_cdf":"11419.929815","scr_to_btc":"0.0001","btc_to_vuv":"85243.655961","sar_to_usd":"0.26664","usd_to_jod":"0.708104","btc_to_etb":"16634.631705","mga_to_eth":"0.000025","eth_to_tnd":"26.163534","eth_to_bhd":"4.564453","btc_to_gel":"1658.955107","usd_to_lrd":"90.50905","tnd_to_eth":"0.038221","btc_to_lyd":"1038.912186","ils_to_btc":"0.00034","ron_to_btc":"0.000326","usd_to_rwf":"763.542499","eth_to_rwf":"9246.499663","usd_to_etb":"21.85202","btc_to_xpf":"80646.288572","usd_to_cuc":"1.0","eth_to_khr":"49590.753053","btc_to_pgk":"2404.890377","btc_to_krw":"891702.590844","cdf_to_eth":"0.000088","usd_to_ron":"4.025819","mga_to_usd":"0.000306","usd_to_twd":"32.37164","ltl_to_eth":"0.027246","xof_to_eth":"0.000141","ils_to_eth":"0.021351","usd_to_lyd":"1.364763","btc_to_lrd":"68899.109222","btc_to_myr":"3112.451538","awg_to_eth":"0.046046","usd_to_gnf":"7349.907598","xaf_to_btc":"0.000002","btc_to_bwp":"8366.931953","pgk_to_eth":"0.026139","tzs_to_usd":"0.000456","xcd_to_eth":"0.03055","dop_to_usd":"0.021767","byr_to_btc":"0.0","usd_to_ars":"13.89873","idr_to_btc":"0.0","eth_to_awg":"21.717263","eth_to_cup":"299.460718","usd_to_ugx":"3350.599967","cve_to_eth":"0.000839","usd_to_jmd":"125.48699","btc_to_scr":"10012.445084","shp_to_eth":"0.118571","eth_to_xaf":"7064.379569","usd_to_myr":"4.08866","eth_to_kyd":"9.979633","btc_to_mzn":"46456.574861","sll_to_eth":"0.000021","usd_to_czk":"24.00099","uah_to_btc":"0.000053","eth_to_mad":"117.399184","eth_to_czk":"290.651989","btc_to_idr":"10152226.510413","cve_to_usd":"0.01016","usd_to_all":"122.4899","usd_to_xcd":"2.70302","xpf_to_usd":"0.009439","hnl_to_btc":"0.000058","eth_to_krw":"14185.432157","eth_to_zmw":"132.467814","qar_to_eth":"0.022684","ghs_to_usd":"0.255379","eth_to_eur":"10.73939","bob_to_eth":"0.011986","eth_to_iqd":"14111.37631","btc_to_bdt":"59746.202298","usd_to_azn":"1.522875","usd_to_ttd":"6.6347","btc_to_rub":"49310.829016","btc_to_irr":"23089931.68","mop_to_btc":"0.000164","eth_to_inr":"812.341343","usd_to_hnl":"22.72723","php_to_usd":"0.021534","npr_to_btc":"0.000012","usd_to_yer":"249.898001","jpy_to_usd":"0.0096","mop_to_eth":"0.010333","cup_to_usd":"0.040439","usd_to_mnt":"1955.25","btc_to_mvr":"11669.8092","eth_to_hkd":"93.983881","hnl_to_usd":"0.044","eth_to_kgs":"821.064648","mkd_to_btc":"0.000024","usd_to_idr":"13336.433333","eth_to_fjd":"25.191016","btc_to_cad":"981.595382","bhd_to_btc":"0.003485","bob_to_usd":"0.145152","usd_to_bzd":"2.001788","usd_to_qar":"3.64028","eth_to_sgd":"16.339853","sgd_to_btc":"0.000974","eth_to_mop":"96.776217","eth_to_bmd":"12.11","afn_to_usd":"0.014408","usd_to_pab":"1.0","lvl_to_btc":"0.002111","eth_to_egp":"107.523334","usd_to_syp":"218.968998","btc_to_npr":"81695.972304","eth_to_hrk":"80.772441","mwk_to_btc":"0.000002","srd_to_usd":"0.142949","eth_to_kwd":"3.651625","uzs_to_btc":"0.0","usd_to_aoa":"165.792831","top_to_btc":"0.000586","etb_to_btc":"0.00006","cdf_to_btc":"0.000001"}

'
  recorded_at: Sun, 19 Jun 2016 14:09:43 GMT
recorded_with: VCR 3.0.3
