---
http_interactions:
- request:
    method: get
    uri: https://coinbase.com/api/v1/currencies/exchange_rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"34f59a05222aba27ead4d050ecb947d0"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"usd_to_mzn":"61.027501","bbd_to_usd":"0.5","btc_to_awg":"1396.109741","ttd_to_usd":"0.150748","idr_to_usd":"0.000075","xpf_to_eth":"0.0008","eth_to_kmf":"5116.859788","btc_to_top":"1744.849715","amd_to_eth":"0.000178","usd_to_gel":"2.17928","btc_to_bsd":"778.5","eth_to_sar":"44.217122","btc_to_pkr":"81491.434529","eth_to_gip":"8.210933","sek_to_btc":"0.000154","cop_to_btc":"0.0","eth_to_idr":"157306.699496","omr_to_usd":"2.596796","usd_to_shp":"0.696432","uzs_to_usd":"0.00034","eth_to_mtl":"8.059668","all_to_eth":"0.000692","usd_to_pln":"3.917868","eth_to_lsl":"178.96548","btc_to_ang":"1392.600263","ugx_to_btc":"0.0","usd_to_tzs":"2190.269967","btc_to_uzs":"2293067.853608","pkr_to_eth":"0.00081","ltl_to_btc":"0.000424","cop_to_eth":"0.000028","eth_to_ugx":"39478.008965","sbd_to_usd":"0.128229","eth_to_bnd":"15.902328","usd_to_nok":"8.361604","eth_to_mnt":"23052.3975","sos_to_usd":"0.001707","btc_to_btn":"52246.769072","btc_to_ern":"11676.33225","eth_to_pln":"46.191664","bgn_to_usd":"0.576387","btc_to_bif":"1223469.44582","nok_to_eth":"0.010144","pyg_to_btc":"0.0","sos_to_btc":"0.000002","usd_to_dzd":"110.021501","eth_to_rsd":"1289.302052","fjd_to_usd":"0.480727","rwf_to_eth":"0.000112","eth_to_mur":"418.306406","aed_to_eth":"0.023092","usd_to_crc":"542.921103","bsd_to_btc":"0.001285","btc_to_azn":"1185.558188","usd_to_cny":"6.584732","btc_to_bam":"1350.721634","usd_to_uzs":"2945.494995","rub_to_btc":"0.00002","eth_to_dop":"541.532975","eth_to_pyg":"66716.387404","ars_to_eth":"0.006101","pln_to_usd":"0.255241","eth_to_vuv":"1320.244212","btc_to_hkd":"6041.761002","eth_to_qar":"42.918842","eth_to_php":"547.48999","btc_to_zar":"11804.69133","btc_to_jod":"551.283876","clf_to_btc":"0.052221","kgs_to_btc":"0.000019","eth_to_xdr":"8.352496","bhd_to_eth":"0.224999","awg_to_btc":"0.000716","usd_to_ils":"3.867858","rub_to_usd":"0.015424","bwp_to_eth":"0.007717","usd_to_ang":"1.788825","btc_to_shp":"542.172312","usd_to_huf":"278.711202","usd_to_sos":"585.734628","btc_to_zwl":"250928.280337","usd_to_nzd":"1.417737","tjs_to_btc":"0.000163","iqd_to_btc":"0.000001","eth_to_gtq":"90.070908","ghs_to_btc":"0.000327","usd_to_mmk":"1184.384964","aud_to_eth":"0.062719","btc_to_mmk":"922043.694474","eth_to_vnd":"262945.492504","aoa_to_eth":"0.000512","btc_to_all":"95429.9313","bwp_to_btc":"0.000117","lrd_to_eth":"0.000937","gip_to_btc":"0.001844","kwd_to_usd":"3.317289","btc_to_srd":"5445.99675","btc_to_aoa":"129069.718934","btn_to_btc":"0.000019","btc_to_mad":"7549.78946","eth_to_pgk":"37.246673","bzd_to_usd":"0.499666","usd_to_mad":"9.697867","eth_to_htg":"741.982133","gel_to_usd":"0.458867","php_to_btc":"0.000028","eth_to_kpw":"10609.9389","eth_to_cny":"77.63399","usd_to_lvl":"0.622664","pgk_to_usd":"0.316538","sdg_to_btc":"0.000211","btc_to_bmd":"778.5","lyd_to_eth":"0.062236","cuc_to_eth":"0.084818","kmf_to_usd":"0.002304","eth_to_gmd":"501.690438","btc_to_aed":"2859.49278","eth_to_xpf":"1250.283071","uyu_to_usd":"0.032682","eth_to_tzs":"25823.282911","eth_to_bzd":"23.595775","fjd_to_eth":"0.040774","szl_to_eth":"0.005585","usd_to_zwl":"322.322775","try_to_usd":"0.341573","nzd_to_btc":"0.000906","hkd_to_eth":"0.010929","btc_to_cop":"2338748.932734","usd_to_jep":"0.696432","ngn_to_eth":"0.000426","thb_to_btc":"0.000036","wst_to_usd":"0.394576","zmw_to_eth":"0.007763","mop_to_usd":"0.125155","usd_to_xau":"0.00077","eth_to_lyd":"16.067872","nio_to_eth":"0.002969","eth_to_nad":"178.920678","usd_to_khr":"4088.185025","mur_to_eth":"0.002391","bgn_to_eth":"0.048888","aoa_to_btc":"0.000008","usd_to_clf":"0.024598","usd_to_std":"21767.625","clp_to_eth":"0.000124","eth_to_fkp":"8.210933","uyu_to_eth":"0.002772","btc_to_kzt":"263653.577501","eth_to_myr":"48.237712","bsd_to_eth":"0.084818","usd_to_xaf":"583.532314","eth_to_bob":"81.211866","btc_to_bnd":"1050.039243","pln_to_eth":"0.021649","btc_to_mnt":"1522162.125","eth_to_bif":"18528.84363","kes_to_btc":"0.000013","myr_to_btc":"0.000314","clf_to_usd":"40.653712","btc_to_gyd":"159902.588228","bam_to_btc":"0.00074","mga_to_btc":"0.0","irr_to_eth":"0.000003","xau_to_usd":"1298.701299","mzn_to_btc":"0.000021","clp_to_usd":"0.001459","eth_to_yer":"2946.297432","eth_to_nzd":"16.715119","ars_to_btc":"0.000092","eur_to_eth":"0.095642","btc_to_htg":"48993.476738","eth_to_mga":"38530.800554","nio_to_btc":"0.000045","usd_to_egp":"8.878586","usd_to_mop":"7.990096","eth_to_mdl":"232.923947","chf_to_usd":"1.040598","sar_to_eth":"0.022616","tnd_to_usd":"0.463122","shp_to_usd":"1.43589","xag_to_btc":"0.022441","sos_to_eth":"0.000145","mur_to_usd":"0.028185","btc_to_dop":"35757.711675","cuc_to_btc":"0.001285","eth_to_twd":"381.640649","eth_to_mvr":"180.7407","eth_to_sll":"46511.55","eth_to_mwk":"8317.93043","dzd_to_usd":"0.009089","pen_to_eth":"0.025591","dkk_to_eth":"0.012858","czk_to_btc":"0.000053","btc_to_aud":"1052.806032","usd_to_eth":"0.093458","dzd_to_eth":"0.000771","usd_to_hkd":"7.760772","usd_to_afn":"69.470001","khr_to_usd":"0.000245","eur_to_btc":"0.001448","nok_to_usd":"0.119594","btc_to_xdr":"551.519762","hnl_to_eth":"0.003735","gbp_to_btc":"0.001844","btc_to_gbp":"542.172312","eth_to_zmk":"61933.757256","usd_to_dkk":"6.596337","mzn_to_eth":"0.00139","yer_to_btc":"0.000005","awg_to_usd":"0.557621","gtq_to_usd":"0.130897","eth_to_jpy":"1228.586382","pyg_to_usd":"0.000177","xag_to_usd":"17.470148","btc_to_dzd":"85651.738529","btc_to_sar":"2919.680172","kpw_to_btc":"0.000001","bhd_to_usd":"2.652738","eth_to_pkr":"1234.147737","usd_to_gip":"0.696432","eth_to_azn":"17.954696","eth_to_gyd":"2421.646134","ngn_to_usd":"0.005025","sbd_to_btc":"0.000165","mkd_to_usd":"0.018314","usd_to_mxn":"18.84593","vuv_to_btc":"0.000011","eth_to_scr":"154.855991","bmd_to_btc":"0.001285","twd_to_eth":"0.00262","eth_to_sos":"6905.811264","kes_to_usd":"0.009885","mtl_to_eth":"0.124075","std_to_usd":"0.000046","eth_to_hnl":"267.758328","dkk_to_btc":"0.000195","usd_to_sll":"3945.0","kzt_to_btc":"0.000004","rsd_to_eth":"0.000776","cuc_to_usd":"1.0","kzt_to_eth":"0.00025","eth_to_isk":"1453.03497","btc_to_lvl":"484.743924","cny_to_btc":"0.000195","mvr_to_usd":"0.065232","ern_to_btc":"0.000086","usd_to_uah":"24.87765","eth_to_sdg":"71.707476","eth_to_afn":"819.051312","btc_to_xcd":"2104.30107","usd_to_bif":"1571.572827","eth_to_all":"1445.239422","usd_to_vuv":"111.980001","usd_to_eek":"13.886","usd_to_cop":"3004.173324","usd_to_mwk":"705.507246","btc_to_kyd":"641.373453","eth_to_crc":"6401.039804","zwl_to_usd":"0.003102","pab_to_eth":"0.084818","eth_to_ils":"45.602046","bbd_to_btc":"0.000642","eth_to_pen":"39.075927","idr_to_eth":"0.000006","btc_to_mwk":"549237.391011","btc_to_kes":"78754.617","usd_to_xof":"586.353514","eth_to_mxn":"222.193515","usd_to_btn":"67.112099","bmd_to_usd":"1.0","btc_to_std":"16946096.0625","btc_to_djf":"138426.349284","usd_to_cup":"24.728383","btc_to_hrk":"5194.261769","khr_to_eth":"0.000021","fjd_to_btc":"0.000618","btc_to_gtq":"5947.430157","dkk_to_usd":"0.151599","ngn_to_btc":"0.000006","rsd_to_btc":"0.000012","usd_to_cve":"98.614417","amd_to_btc":"0.000003","usd_to_lak":"8096.580098","vnd_to_btc":"0.0","vuv_to_eth":"0.000757","chf_to_eth":"0.088261","gtq_to_btc":"0.000168","tzs_to_eth":"0.000039","all_to_usd":"0.008158","eth_to_mkd":"643.772435","usd_to_bsd":"1.0","btc_to_mkd":"42508.63791","gip_to_usd":"1.43589","lbp_to_eth":"0.000056","syp_to_eth":"0.000387","jmd_to_usd":"0.00797","irr_to_usd":"0.000033","clp_to_btc":"0.000002","svc_to_eth":"0.009703","btc_to_tmm":"975.966266","btc_to_ugx":"2606754.027069","pkr_to_btc":"0.000012","btc_to_wst":"1973.002374","gmd_to_usd":"0.023501","bwp_to_usd":"0.090982","btc_to_pab":"778.5","cny_to_eth":"0.012881","eth_to_nio":"336.766848","usd_to_bhd":"0.376969","btc_to_isk":"95944.6755","npr_to_eth":"0.00079","btc_to_kwd":"234.679604","rub_to_eth":"0.001308","szl_to_btc":"0.000085","usd_to_kyd":"0.823858","usd_to_ltc":"1.0","crc_to_eth":"0.000156","btc_to_fkp":"542.172312","usd_to_clp":"685.256004","btc_to_sdg":"4734.882932","usd_to_ltl":"3.031737","btc_to_twd":"25199.93601","lbp_to_usd":"0.000662","btc_to_syp":"170467.364943","amd_to_usd":"0.002093","eth_to_uzs":"34727.385991","usd_to_sar":"3.750392","fkp_to_eth":"0.121789","djf_to_eth":"0.000477","mzn_to_usd":"0.016386","afn_to_eth":"0.001221","xaf_to_eth":"0.000145","xau_to_eth":"110.152782","vef_to_btc":"0.000129","mvr_to_btc":"0.000084","nad_to_btc":"0.000085","jep_to_usd":"1.43589","usd_to_wst":"2.534364","btc_to_kmf":"337868.985987","lsl_to_btc":"0.000085","jep_to_eth":"0.121789","mmk_to_usd":"0.000844","eth_to_aud":"15.94423","mwk_to_eth":"0.00012","zmk_to_btc":"0.0","bzd_to_eth":"0.04238","zmw_to_usd":"0.091528","gyd_to_btc":"0.000006","usd_to_ghs":"3.922204","btc_to_bzd":"1558.041633","usd_to_cdf":"943.0165","usd_to_tmt":"3.504983","ttd_to_eth":"0.012786","usd_to_gtq":"7.639602","btc_to_xag":"44.561729","zmk_to_eth":"0.000016","mxn_to_eth":"0.004501","lak_to_eth":"0.00001","btc_to_yer":"194545.593778","usd_to_fjd":"2.080183","btc_to_thb":"27443.082555","eth_to_clp":"8079.168287","pen_to_usd":"0.30172","omr_to_btc":"0.003336","gbp_to_eth":"0.121789","krw_to_usd":"0.000853","gyd_to_eth":"0.000413","djf_to_usd":"0.005624","inr_to_usd":"0.014903","aud_to_btc":"0.00095","gel_to_btc":"0.000589","usd_to_kmf":"433.999982","usd_to_pkr":"104.677501","eth_to_bbd":"23.58","eth_to_bsd":"11.79","usd_to_pyg":"5658.726667","usd_to_zmk":"5253.075255","usd_to_xag":"0.0572405","sar_to_btc":"0.000343","usd_to_gmd":"42.5522","iqd_to_eth":"0.000073","hkd_to_usd":"0.128853","eth_to_vef":"117.581529","usd_to_irr":"30332.0","rwf_to_btc":"0.000002","jod_to_btc":"0.001814","sgd_to_eth":"0.062859","eth_to_bwp":"129.586107","eth_to_btn":"791.251647","usd_to_brl":"3.42393","usd_to_zar":"15.16338","usd_to_srd":"6.9955","bnd_to_btc":"0.000952","omr_to_eth":"0.220254","btc_to_gnf":"5710437.706293","eth_to_bgn":"20.45499","usd_to_bwp":"10.991188","usd_to_omr":"0.38509","vef_to_usd":"0.100271","btc_to_zmw":"8505.628646","usd_to_jpy":"104.2058","usd_to_pgk":"3.159175","mmk_to_btc":"0.000001","btc_to_cdf":"734138.34525","btc_to_ron":"3135.189213","ron_to_usd":"0.24831","usd_to_btc":"0.001287","usd_to_szl":"15.18654","eth_to_ttd":"78.209849","huf_to_eth":"0.000304","usd_to_bgn":"1.734944","eth_to_clf":"0.29001","azn_to_eth":"0.055696","zar_to_eth":"0.005594","kpw_to_eth":"0.000094","btc_to_khr":"3182652.041963","ron_to_eth":"0.021061","crc_to_usd":"0.001842","rwf_to_usd":"0.001324","gtq_to_eth":"0.011102","xof_to_btc":"0.000002","btc_to_brl":"2665.529505","eth_to_srd":"82.476945","eth_to_dzd":"1297.153497","btc_to_hnl":"17680.225455","brl_to_usd":"0.292062","btc_to_afn":"54082.395778","eth_to_jep":"8.210933","usd_to_mkd":"54.60326","pen_to_btc":"0.000388","btc_to_tnd":"1680.98391","btc_to_php":"36151.056585","sll_to_usd":"0.000253","lkr_to_usd":"0.006898","shp_to_btc":"0.001844","gnf_to_btc":"0.0","usd_to_mtl":"0.683602","mnt_to_btc":"0.000001","bbd_to_eth":"0.042409","btc_to_pln":"3050.060238","cad_to_btc":"0.000996","eth_to_nok":"98.583311","lkr_to_eth":"0.000585","usd_to_kwd":"0.301451","usd_to_thb":"35.25123","cve_to_btc":"0.000013","btc_to_usd":"776.9","xag_to_eth":"1.481777","btc_to_egp":"6911.979201","eth_to_aoa":"1954.697477","btc_to_byr":"15534714.4875","mad_to_btc":"0.000132","mkd_to_eth":"0.001553","egp_to_eth":"0.009553","btc_to_tjs":"6125.62725","jpy_to_btc":"0.000012","btc_to_bob":"5362.462922","usd_to_bdt":"78.472739","tmt_to_btc":"0.000366","eth_to_bam":"20.456015","lyd_to_btc":"0.000943","eth_to_jod":"8.348923","gmd_to_eth":"0.001993","htg_to_btc":"0.00002","gnf_to_usd":"0.000136","usd_to_aud":"1.352352","pab_to_usd":"1.0","cdf_to_usd":"0.00106","usd_to_lkr":"144.9766","gel_to_eth":"0.03892","eth_to_cuc":"11.79","usd_to_zmw":"10.925663","usd_to_bam":"1.735031","mvr_to_eth":"0.005533","thb_to_usd":"0.028368","egp_to_usd":"0.112631","std_to_btc":"0.0","btc_to_chf":"748.127601","kpw_to_usd":"0.001111","bam_to_eth":"0.048885","usd_to_eur":"0.88682","sll_to_btc":"0.0","btc_to_gmd":"33126.8877","npr_to_usd":"0.009318","btc_to_eth":"70.126227","hrk_to_usd":"0.149877","usd_to_tmm":"2.85","lvl_to_eth":"0.136217","xpf_to_btc":"0.000012","jmd_to_btc":"0.00001","dop_to_btc":"0.000028","all_to_btc":"0.00001","btc_to_lak":"6303187.606293","eur_to_usd":"1.127625","btc_to_jep":"542.172312","std_to_eth":"0.000004","byr_to_eth":"0.000004","aed_to_btc":"0.00035","btc_to_jpy":"81124.2153","eth_to_tmt":"41.32375","inr_to_eth":"0.001264","uyu_to_btc":"0.000042","mro_to_eth":"0.000239","ghs_to_eth":"0.021625","nad_to_usd":"0.065895","pln_to_btc":"0.000328","ang_to_btc":"0.000718","etb_to_usd":"0.045841","zwl_to_btc":"0.000004","twd_to_usd":"0.030893","btc_to_bgn":"1350.653904","btc_to_lbp":"1175405.237285","eth_to_svc":"103.064796","pgk_to_btc":"0.000407","eth_to_amd":"5631.847153","ils_to_usd":"0.258541","crc_to_btc":"0.000002","usd_to_djf":"177.811624","btc_to_nio":"22236.894945","lvl_to_usd":"1.606003","eth_to_ern":"176.832315","btc_to_mur":"27620.995496","azn_to_btc":"0.000843","lak_to_btc":"0.0","usd_to_vnd":"22302.416667","eth_to_ltl":"35.744179","eth_to_cad":"15.206777","xof_to_usd":"0.001705","bnd_to_eth":"0.062884","btc_to_sos":"455994.407898","zmw_to_btc":"0.000118","czk_to_usd":"0.041649","usd_to_amd":"477.679996","pkr_to_usd":"0.009553","usd_to_nad":"15.17563","bdt_to_usd":"0.012743","sdg_to_usd":"0.164418","btc_to_eek":"10810.251","eth_to_djf":"2096.399047","btc_to_bhd":"293.470367","usd_to_bbd":"2.0","eth_to_gbp":"8.210933","aoa_to_usd":"0.006032","eth_to_xcd":"31.868606","eth_to_sek":"98.21946","jpy_to_eth":"0.000814","eth_to_npr":"1265.354676","huf_to_btc":"0.000005","btc_to_zmk":"4089519.086017","top_to_eth":"0.037843","qar_to_usd":"0.274705","kwd_to_btc":"0.004261","qar_to_btc":"0.000353","mxn_to_usd":"0.053062","btc_to_sbd":"6071.186745","tmt_to_eth":"0.024199","usd_to_inr":"67.10082","hrk_to_eth":"0.012712","fkp_to_usd":"1.43589","btc_to_cny":"5126.213862","btc_to_gip":"542.172312","mxn_to_btc":"0.000068","btc_to_kpw":"700579.935","btc_to_jmd":"97674.650415","eth_to_lvl":"7.341209","usd_to_kpw":"899.91","eth_to_zwl":"3800.185517","usd_to_usd":"1.0","wst_to_eth":"0.033467","btc_to_omr":"299.792565","btc_to_pyg":"4405318.71026","usd_to_pen":"3.314328","mur_to_btc":"0.000036","nad_to_eth":"0.005589","btc_to_kgs":"52782.727397","btc_to_crc":"422664.078686","btc_to_try":"2279.163848","btc_to_pen":"2580.204348","btc_to_sll":"3071182.5","brl_to_eth":"0.024772","kmf_to_btc":"0.000003","chf_to_btc":"0.001337","btc_to_fjd":"1619.422465","usd_to_isk":"123.243","btc_to_rwf":"587802.531722","btc_to_eur":"690.38937","scr_to_usd":"0.076135","btc_to_czk":"18691.89399","btc_to_ltl":"2360.207255","lkr_to_btc":"0.000009","btc_to_tzs":"1705125.16931","kzt_to_usd":"0.002953","bgn_to_btc":"0.00074","eth_to_shp":"8.210933","ugx_to_eth":"0.000025","eth_to_mmk":"13963.898726","btc_to_svc":"6805.423571","usd_to_ngn":"198.9951","btc_to_qar":"2833.954088","usd_to_mvr":"15.33","nio_to_usd":"0.035009","eth_to_jmd":"1479.23459","btc_to_uah":"19367.250525","cny_to_usd":"0.151866","usd_to_uyu":"30.59776","eth_to_wst":"29.880152","kwd_to_eth":"0.281365","sgd_to_usd":"0.741109","eth_to_cop":"35419.20349","usd_to_byr":"19954.675","vef_to_eth":"0.008505","djf_to_btc":"0.000007","mdl_to_usd":"0.050617","usd_to_ern":"14.9985","eth_to_byr":"235265.61825","usd_to_rub":"64.835031","eth_to_std":"256640.29875","usd_to_awg":"1.793333","usd_to_htg":"62.933175","eth_to_mro":"4191.510013","nok_to_btc":"0.000154","btc_to_cuc":"778.5","eth_to_irr":"357614.28","nzd_to_usd":"0.705349","eth_to_dkk":"77.770813","eth_to_bdt":"925.193593","gbp_to_usd":"1.43589","bdt_to_btc":"0.000016","eth_to_szl":"179.049307","vnd_to_eth":"0.000004","mtl_to_usd":"1.462839","mmk_to_eth":"0.000072","mdl_to_eth":"0.004293","clf_to_eth":"3.448152","eth_to_chf":"11.330025","lak_to_usd":"0.000124","eth_to_xau":"0.009078","eek_to_usd":"0.072015","scr_to_eth":"0.006458","mdl_to_btc":"0.000065","khr_to_btc":"0.0","byr_to_usd":"0.00005","myr_to_eth":"0.020731","yer_to_eth":"0.000339","ang_to_usd":"0.559026","ars_to_usd":"0.071934","try_to_eth":"0.028971","btc_to_inr":"52237.98837","usd_to_cad":"1.289803","ugx_to_usd":"0.000299","tjs_to_usd":"0.127089","eek_to_eth":"0.006108","myr_to_usd":"0.244415","btc_to_ttd":"5164.238138","hrk_to_btc":"0.000193","usd_to_try":"2.927635","btc_to_mxn":"14671.556505","zar_to_usd":"0.065948","btc_to_dkk":"5135.248355","eth_to_ghs":"46.242785","btc_to_tmt":"2728.629266","btc_to_xau":"0.599445","bif_to_eth":"0.000054","svc_to_usd":"0.114394","wst_to_btc":"0.000507","huf_to_usd":"0.003588","nzd_to_eth":"0.059826","eth_to_omr":"4.540211","cop_to_usd":"0.000333","krw_to_btc":"0.000001","usd_to_bob":"6.888199","eth_to_lbp":"17800.934807","cup_to_eth":"0.00343","uah_to_eth":"0.003409","eth_to_kzt":"3992.90389","usd_to_bnd":"1.348798","usd_to_aed":"3.67308","btc_to_xaf":"454279.906449","gnf_to_eth":"0.000012","bif_to_usd":"0.000636","irr_to_btc":"0.0","eth_to_top":"26.424892","usd_to_mur":"35.479763","usd_to_iqd":"1165.033387","mad_to_eth":"0.008746","bdt_to_eth":"0.001081","svc_to_btc":"0.000147","xau_to_btc":"1.66821","mwk_to_usd":"0.001417","kyd_to_eth":"0.102952","cup_to_btc":"0.000052","jmd_to_eth":"0.000676","usd_to_kgs":"67.800549","gmd_to_btc":"0.00003","kmf_to_eth":"0.000195","cad_to_usd":"0.775312","rsd_to_usd":"0.009144","isk_to_eth":"0.000688","usd_to_sek":"8.330743","top_to_usd":"0.44617","hkd_to_btc":"0.000166","eth_to_xag":"0.674865","tmm_to_usd":"0.350877","btc_to_mga":"2544209.349525","eth_to_mzn":"719.514237","mtl_to_btc":"0.001879","iqd_to_usd":"0.000858","usd_to_vef":"9.972988","btc_to_nok":"6509.508714","lrd_to_usd":"0.011049","eth_to_huf":"3286.005072","eth_to_btc":"0.01426","eth_to_pab":"11.79","tmt_to_usd":"0.285308","usd_to_sdg":"6.082059","ttd_to_btc":"0.000194","usd_to_npr":"107.3244","xdr_to_usd":"1.411554","cad_to_eth":"0.06576","usd_to_top":"2.241297","eth_to_thb":"415.612002","btc_to_ghs":"3053.435814","usd_to_kes":"101.162","sbd_to_eth":"0.010876","lyd_to_usd":"0.733762","btc_to_btc":"0.999914","eth_to_lkr":"1709.274114","lbp_to_btc":"0.000001","eth_to_xof":"6913.10793","eth_to_sbd":"91.94514","azn_to_usd":"0.656653","kyd_to_usd":"1.213801","isk_to_usd":"0.008114","btc_to_sgd":"1050.453405","eth_to_lak":"95458.679355","pab_to_btc":"0.001285","isk_to_btc":"0.00001","eek_to_btc":"0.000093","btc_to_szl":"11822.72139","sek_to_usd":"0.120037","eth_to_tjs":"92.769615","usd_to_sgd":"1.34933","xdr_to_btc":"0.001813","ltl_to_usd":"0.329844","bam_to_usd":"0.576359","htg_to_usd":"0.01589","eth_to_lrd":"1067.1017","jod_to_eth":"0.119776","eth_to_syp":"2581.644486","kgs_to_usd":"0.014749","zwl_to_eth":"0.000263","eth_to_cve":"1162.663976","usd_to_bmd":"1.0","eth_to_try":"34.516817","twd_to_btc":"0.00004","btc_to_huf":"216976.670757","usd_to_sbd":"7.79857","xdr_to_eth":"0.119725","krw_to_eth":"0.000072","btc_to_lsl":"11817.186255","pyg_to_eth":"0.000015","inr_to_btc":"0.000019","lrd_to_btc":"0.000014","usd_to_gbp":"0.696432","mad_to_usd":"0.103115","usd_to_tjs":"7.8685","mnt_to_eth":"0.000043","htg_to_eth":"0.001348","btc_to_rsd":"85133.30346","bsd_to_usd":"1.0","aud_to_usd":"0.739452","btc_to_mop":"6220.289736","usd_to_nio":"28.56377","eth_to_gnf":"86481.773355","btc_to_sek":"6485.483426","btc_to_xof":"456476.210649","btc_to_cup":"19251.046166","xaf_to_usd":"0.001714","eth_to_aed":"43.305613","btc_to_amd":"371873.876886","btc_to_nzd":"1103.708255","usd_to_rsd":"109.35556","fkp_to_btc":"0.001844","usd_to_mdl":"19.75606","eth_to_uah":"293.307493","lsl_to_usd":"0.065879","usd_to_dop":"45.93155","btc_to_ils":"3011.127453","xcd_to_btc":"0.000475","kgs_to_eth":"0.001251","ern_to_eth":"0.005655","tmm_to_btc":"0.001025","usd_to_fkp":"0.696432","bnd_to_usd":"0.741401","btc_to_clf":"19.149543","gip_to_eth":"0.121789","eth_to_ron":"47.4809","usd_to_xpf":"106.046062","usd_to_hrk":"6.672141","usd_to_lsl":"15.17943","eth_to_zar":"178.77625","ang_to_eth":"0.047415","usd_to_tnd":"2.15926","btc_to_mro":"276767.645886","eth_to_eek":"163.71594","usd_to_mro":"355.513996","sdg_to_eth":"0.013946","eth_to_ang":"21.090247","try_to_btc":"0.000439","usd_to_php":"46.43681","bmd_to_eth":"0.084818","btc_to_clp":"533471.799114","xcd_to_usd":"0.369957","vuv_to_usd":"0.00893","btn_to_eth":"0.001264","jod_to_usd":"1.412158","lsl_to_eth":"0.005588","usd_to_gyd":"205.398315","btc_to_lkr":"112864.2831","eth_to_usd":"10.7","tzs_to_btc":"0.000001","usd_to_chf":"0.960986","brl_to_btc":"0.000375","tjs_to_eth":"0.010779","egp_to_btc":"0.000145","jep_to_btc":"0.001844","srd_to_btc":"0.000184","srd_to_eth":"0.012125","usd_to_kzt":"338.668693","szl_to_usd":"0.065848","afn_to_btc":"0.000018","eth_to_uyu":"360.74759","btc_to_cve":"76771.323635","btc_to_mdl":"15380.09271","eth_to_ngn":"2346.152229","eth_to_kes":"1192.69998","eth_to_gel":"25.693711","syp_to_usd":"0.004567","usd_to_lbp":"1509.833317","php_to_eth":"0.001827","eth_to_etb":"257.194841","syp_to_btc":"0.000006","mro_to_btc":"0.000004","aed_to_usd":"0.272251","vnd_to_usd":"0.000045","bif_to_btc":"0.000001","etb_to_eth":"0.003888","btc_to_uyu":"23820.35616","uzs_to_eth":"0.000029","bob_to_btc":"0.000186","gyd_to_usd":"0.004869","eth_to_ars":"163.89951","btc_to_mtl":"532.184157","kyd_to_btc":"0.001559","usd_to_svc":"8.741713","mro_to_usd":"0.002813","btc_to_nad":"11814.227955","usd_to_scr":"13.13452","dop_to_eth":"0.001847","btc_to_bbd":"1557.0","mnt_to_usd":"0.000511","btn_to_usd":"0.0149","uah_to_usd":"0.040197","sek_to_eth":"0.010181","zmk_to_usd":"0.00019","btc_to_ars":"10822.372245","btc_to_iqd":"906978.491779","usd_to_krw":"1171.793348","czk_to_eth":"0.003533","usd_to_xdr":"0.708439","usd_to_mga":"3268.09165","yer_to_usd":"0.004002","btc_to_ngn":"154917.68535","kes_to_eth":"0.000838","eth_to_brl":"40.368135","btc_to_vnd":"17362431.37526","eth_to_rub":"764.405015","tnd_to_btc":"0.000595","zar_to_btc":"0.000085","bzd_to_btc":"0.000642","btc_to_vef":"7763.971158","dzd_to_btc":"0.000012","thb_to_eth":"0.002406","ern_to_usd":"0.066673","eth_to_cdf":"11118.164535","scr_to_btc":"0.000098","btc_to_vuv":"87176.430779","sar_to_usd":"0.266639","usd_to_jod":"0.708136","btc_to_etb":"16982.71281","mga_to_eth":"0.000026","eth_to_tnd":"25.457675","eth_to_bhd":"4.444465","btc_to_gel":"1696.56948","usd_to_lrd":"90.50905","tnd_to_eth":"0.039281","btc_to_lyd":"1060.970161","ils_to_btc":"0.000332","ron_to_btc":"0.000319","usd_to_rwf":"755.044999","eth_to_rwf":"8901.980538","usd_to_etb":"21.81466","btc_to_xpf":"82556.859267","usd_to_cuc":"1.0","eth_to_khr":"48199.701445","btc_to_pgk":"2459.417738","btc_to_krw":"912241.121418","cdf_to_eth":"0.00009","usd_to_ron":"4.027218","mga_to_usd":"0.000306","usd_to_twd":"32.36986","ltl_to_eth":"0.027977","xof_to_eth":"0.000145","ils_to_eth":"0.021929","usd_to_lyd":"1.362839","btc_to_lrd":"70461.295425","btc_to_myr":"3185.161906","awg_to_eth":"0.047296","usd_to_gnf":"7335.180098","xaf_to_btc":"0.000002","btc_to_bwp":"8556.639858","pgk_to_eth":"0.026848","tzs_to_usd":"0.000457","xcd_to_eth":"0.031379","dop_to_usd":"0.021772","byr_to_btc":"0.0","usd_to_ars":"13.90157","idr_to_btc":"0.0","eth_to_awg":"21.143396","eth_to_cup":"291.547636","usd_to_ugx":"3348.431634","cve_to_eth":"0.00086","usd_to_jmd":"125.46519","btc_to_scr":"10225.22382","shp_to_eth":"0.121789","eth_to_xaf":"6879.845982","usd_to_myr":"4.091409","eth_to_kyd":"9.713286","btc_to_mzn":"47509.909529","sll_to_eth":"0.000022","usd_to_czk":"24.01014","uah_to_btc":"0.000052","eth_to_mad":"114.337852","eth_to_czk":"283.079551","btc_to_idr":"10387045.424741","cve_to_usd":"0.010141","usd_to_all":"122.5818","usd_to_xcd":"2.70302","xpf_to_usd":"0.00943","hnl_to_btc":"0.000057","eth_to_krw":"13815.443573","eth_to_zmw":"128.813567","qar_to_eth":"0.0233","ghs_to_usd":"0.254959","eth_to_eur":"10.455608","bob_to_eth":"0.012313","eth_to_iqd":"13735.743633","btc_to_bdt":"61091.027312","usd_to_azn":"1.522875","usd_to_ttd":"6.633575","btc_to_rub":"50474.071634","btc_to_irr":"23613462.0","mop_to_btc":"0.000161","eth_to_inr":"791.118668","usd_to_hnl":"22.71063","php_to_usd":"0.021535","npr_to_btc":"0.000012","usd_to_yer":"249.898001","jpy_to_usd":"0.009596","mop_to_eth":"0.010615","cup_to_usd":"0.040439","usd_to_mnt":"1955.25","btc_to_mvr":"11934.405","eth_to_hkd":"91.499502","hnl_to_usd":"0.044032","eth_to_kgs":"799.368473","mkd_to_btc":"0.000024","usd_to_idr":"13342.383333","eth_to_fjd":"24.525358","btc_to_cad":"1004.111636","bhd_to_btc":"0.003407","bob_to_usd":"0.145176","usd_to_bzd":"2.001338","usd_to_qar":"3.640275","eth_to_sgd":"15.908601","sgd_to_btc":"0.000952","eth_to_mop":"94.203232","eth_to_bmd":"11.79","afn_to_usd":"0.014395","usd_to_pab":"1.0","lvl_to_btc":"0.002063","eth_to_egp":"104.678529","usd_to_syp":"218.968998","btc_to_npr":"83552.0454","eth_to_hrk":"78.664542","mwk_to_btc":"0.000002","srd_to_usd":"0.142949","eth_to_kwd":"3.554107","uzs_to_btc":"0.0","usd_to_aoa":"165.792831","top_to_btc":"0.000573","etb_to_btc":"0.000059","cdf_to_btc":"0.000001"}

'
  recorded_at: Sat, 18 Jun 2016 16:36:16 GMT
recorded_with: VCR 3.0.3
