---
http_interactions:
- request:
    method: get
    uri: https://coinbase.com/api/v1/currencies/exchange_rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"d54cba2de449c145cc2e1928e7d4288f"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"usd_to_aed":"3.673097","aed_to_usd":"0.27225","usd_to_afn":"66.4435","afn_to_usd":"0.01505","usd_to_all":"126.692592","all_to_usd":"0.007893","usd_to_amd":"484.332497","amd_to_usd":"0.002065","usd_to_ang":"1.775963","ang_to_usd":"0.563075","usd_to_aoa":"165.9065","aoa_to_usd":"0.006027","usd_to_ars":"15.61","ars_to_usd":"0.064061","usd_to_aud":"1.304819","aud_to_usd":"0.76639","usd_to_awg":"1.799996","awg_to_usd":"0.555557","usd_to_azn":"1.9367","azn_to_usd":"0.516342","usd_to_bam":"1.813689","bam_to_usd":"0.551362","usd_to_bbd":"1.991747","bbd_to_usd":"0.502072","usd_to_bdt":"79.296353","bdt_to_usd":"0.012611","usd_to_bgn":"1.814215","bgn_to_usd":"0.551203","usd_to_bhd":"0.376997","bhd_to_usd":"2.652541","usd_to_bif":"1679.94548","bif_to_usd":"0.000595","usd_to_bmd":"1.0","bmd_to_usd":"1.0","usd_to_bnd":"1.406908","bnd_to_usd":"0.710779","usd_to_bob":"6.875789","bob_to_usd":"0.145438","usd_to_brl":"3.117401","brl_to_usd":"0.32078","usd_to_bsd":"0.994934","bsd_to_usd":"1.005092","usd_to_btn":"67.244166","btn_to_usd":"0.014871","usd_to_bwp":"10.463482","bwp_to_usd":"0.09557","usd_to_byn":"1.916103","byn_to_usd":"0.521893","usd_to_byr":"20026.25","byr_to_usd":"0.00005","usd_to_bzd":"2.000163","bzd_to_usd":"0.499959","usd_to_cad":"1.302052","cad_to_usd":"0.768018","usd_to_cdf":"1258.309592","cdf_to_usd":"0.000795","usd_to_chf":"0.992554","chf_to_usd":"1.007502","usd_to_clf":"0.024098","clf_to_usd":"41.49722","usd_to_clp":"640.6","clp_to_usd":"0.001561","usd_to_cny":"6.8271","cny_to_usd":"0.146475","usd_to_cop":"2850.0","cop_to_usd":"0.000351","usd_to_crc":"554.46309","crc_to_usd":"0.001804","usd_to_cuc":"1.0","cuc_to_usd":"1.0","usd_to_cup":"24.728383","cup_to_usd":"0.040439","usd_to_cve":"102.675","cve_to_usd":"0.009739","usd_to_czk":"25.077275","czk_to_usd":"0.039877","usd_to_djf":"178.77","djf_to_usd":"0.005594","usd_to_dkk":"6.901661","dkk_to_usd":"0.144893","usd_to_dop":"46.521881","dop_to_usd":"0.021495","usd_to_dzd":"109.536","dzd_to_usd":"0.009129","usd_to_eek":"14.510375","eek_to_usd":"0.068916","usd_to_egp":"18.7565","egp_to_usd":"0.053315","usd_to_ern":"15.33","ern_to_usd":"0.065232","usd_to_etb":"22.545128","etb_to_usd":"0.044355","usd_to_eur":"0.928036","eur_to_usd":"1.077544","usd_to_fjd":"2.039998","fjd_to_usd":"0.490197","usd_to_fkp":"0.800993","fkp_to_usd":"1.24845","usd_to_gbp":"0.800993","gbp_to_usd":"1.24845","usd_to_gel":"2.67888","gel_to_usd":"0.37329","usd_to_ggp":"0.800993","ggp_to_usd":"1.24845","usd_to_ghs":"4.373512","ghs_to_usd":"0.228649","usd_to_gip":"0.800993","gip_to_usd":"1.24845","usd_to_gmd":"43.78","gmd_to_usd":"0.022841","usd_to_gnf":"9361.45","gnf_to_usd":"0.000107","usd_to_gtq":"7.423094","gtq_to_usd":"0.134715","usd_to_gyd":"205.270177","gyd_to_usd":"0.004872","usd_to_hkd":"7.75774","hkd_to_usd":"0.128904","usd_to_hnl":"23.483404","hnl_to_usd":"0.042583","usd_to_hrk":"6.893742","hrk_to_usd":"0.145059","usd_to_htg":"67.158171","htg_to_usd":"0.01489","usd_to_huf":"287.5675","huf_to_usd":"0.003477","usd_to_idr":"13324.15","idr_to_usd":"0.000075","usd_to_ils":"3.752303","ils_to_usd":"0.266503","usd_to_imp":"0.800993","imp_to_usd":"1.24845","usd_to_inr":"67.185","inr_to_usd":"0.014884","usd_to_iqd":"1176.686141","iqd_to_usd":"0.00085","usd_to_irr":"32375.325","irr_to_usd":"0.000031","usd_to_isk":"112.9","isk_to_usd":"0.008857","usd_to_jep":"0.800993","jep_to_usd":"1.24845","usd_to_jmd":"128.312823","jmd_to_usd":"0.007793","usd_to_jod":"0.7084","jod_to_usd":"1.411632","usd_to_jpy":"112.539545","jpy_to_usd":"0.008886","usd_to_kes":"103.895","kes_to_usd":"0.009625","usd_to_kgs":"69.433649","kgs_to_usd":"0.014402","usd_to_khr":"4053.041667","khr_to_usd":"0.000247","usd_to_kmf":"457.29665","kmf_to_usd":"0.002187","usd_to_kpw":"899.91","kpw_to_usd":"0.001111","usd_to_krw":"1137.87","krw_to_usd":"0.000879","usd_to_kwd":"0.30515","kwd_to_usd":"3.277077","usd_to_kyd":"0.829257","kyd_to_usd":"1.205899","usd_to_kzt":"322.116036","kzt_to_usd":"0.003104","usd_to_lak":"8080.385256","lak_to_usd":"0.000124","usd_to_lbp":"1502.587443","lbp_to_usd":"0.000666","usd_to_lkr":"149.687021","lkr_to_usd":"0.006681","usd_to_lrd":"93.996255","lrd_to_usd":"0.010639","usd_to_lsl":"13.368213","lsl_to_usd":"0.074804","usd_to_ltl":"3.202053","ltl_to_usd":"0.3123","usd_to_lvl":"0.651767","lvl_to_usd":"1.534291","usd_to_lyd":"1.413643","lyd_to_usd":"0.707392","usd_to_mad":"9.977068","mad_to_usd":"0.10023","usd_to_mdl":"19.8475","mdl_to_usd":"0.050384","usd_to_mga":"3170.376613","mga_to_usd":"0.000315","usd_to_mkd":"57.130724","mkd_to_usd":"0.017504","usd_to_mmk":"1360.555556","mmk_to_usd":"0.000735","usd_to_mnt":"2467.5","mnt_to_usd":"0.000405","usd_to_mop":"7.952603","mop_to_usd":"0.125745","usd_to_mro":"357.255889","mro_to_usd":"0.002799","usd_to_mtl":"0.683738","mtl_to_usd":"1.462549","usd_to_mur":"35.6","mur_to_usd":"0.02809","usd_to_mvr":"15.474922","mvr_to_usd":"0.064621","usd_to_mwk":"719.980849","mwk_to_usd":"0.001389","usd_to_mxn":"20.401205","mxn_to_usd":"0.049017","usd_to_myr":"4.423997","myr_to_usd":"0.22604","usd_to_mzn":"70.500578","mzn_to_usd":"0.014184","usd_to_nad":"13.368896","nad_to_usd":"0.0748","usd_to_ngn":"313.411567","ngn_to_usd":"0.003191","usd_to_nio":"29.334435","nio_to_usd":"0.03409","usd_to_nok":"8.208366","nok_to_usd":"0.121827","usd_to_npr":"107.200137","npr_to_usd":"0.009328","usd_to_nzd":"1.366687","nzd_to_usd":"0.731696","usd_to_omr":"0.385008","omr_to_usd":"2.597349","usd_to_pab":"0.995006","pab_to_usd":"1.005019","usd_to_pen":"3.259722","pen_to_usd":"0.306775","usd_to_pgk":"3.163198","pgk_to_usd":"0.316136","usd_to_php":"49.738874","php_to_usd":"0.020105","usd_to_pkr":"104.250792","pkr_to_usd":"0.009592","usd_to_pln":"3.9945","pln_to_usd":"0.250344","usd_to_pyg":"5716.152124","pyg_to_usd":"0.000175","usd_to_qar":"3.641199","qar_to_usd":"0.274635","usd_to_ron":"4.195464","ron_to_usd":"0.238353","usd_to_rsd":"114.98","rsd_to_usd":"0.008697","usd_to_rub":"58.9345","rub_to_usd":"0.016968","usd_to_rwf":"833.27244","rwf_to_usd":"0.0012","usd_to_sar":"3.7503","sar_to_usd":"0.266645","usd_to_sbd":"7.775822","sbd_to_usd":"0.128604","usd_to_scr":"13.37429","scr_to_usd":"0.07477","usd_to_sdg":"6.391092","sdg_to_usd":"0.156468","usd_to_sek":"8.768348","sek_to_usd":"0.114047","usd_to_sgd":"1.40839","sgd_to_usd":"0.710031","usd_to_shp":"0.800993","shp_to_usd":"1.24845","usd_to_sll":"7393.0","sll_to_usd":"0.000135","usd_to_sos":"575.565671","sos_to_usd":"0.001737","usd_to_srd":"7.5285","srd_to_usd":"0.132829","usd_to_std":"22725.900391","std_to_usd":"0.000044","usd_to_svc":"8.707028","svc_to_usd":"0.11485","usd_to_syp":"214.35","syp_to_usd":"0.004665","usd_to_szl":"13.361608","szl_to_usd":"0.074841","usd_to_thb":"35.03","thb_to_usd":"0.028547","usd_to_tjs":"7.886057","tjs_to_usd":"0.126806","usd_to_tmt":"3.504979","tmt_to_usd":"0.285308","usd_to_tnd":"2.280799","tnd_to_usd":"0.438443","usd_to_top":"2.291915","top_to_usd":"0.436316","usd_to_try":"3.700004","try_to_usd":"0.27027","usd_to_ttd":"6.687316","ttd_to_usd":"0.149537","usd_to_twd":"30.921236","twd_to_usd":"0.03234","usd_to_tzs":"2222.135079","tzs_to_usd":"0.00045","usd_to_uah":"27.036593","uah_to_usd":"0.036987","usd_to_ugx":"3563.45","ugx_to_usd":"0.000281","usd_to_uyu":"28.086986","uyu_to_usd":"0.035604","usd_to_uzs":"3227.05","uzs_to_usd":"0.00031","usd_to_vef":"9.985022","vef_to_usd":"0.10015","usd_to_vnd":"22554.833333","vnd_to_usd":"0.000044","usd_to_vuv":"107.705334","vuv_to_usd":"0.009285","usd_to_wst":"2.54034","wst_to_usd":"0.393648","usd_to_xaf":"608.268017","xaf_to_usd":"0.001644","usd_to_xag":"0.056899","xag_to_usd":"17.574964","usd_to_xau":"0.000818","xau_to_usd":"1223.18174","usd_to_xcd":"2.70255","xcd_to_usd":"0.370021","usd_to_xdr":"0.735814","xdr_to_usd":"1.359039","usd_to_xof":"610.007015","xof_to_usd":"0.001639","usd_to_xpf":"110.913544","xpf_to_usd":"0.009016","usd_to_yer":"250.063281","yer_to_usd":"0.003999","usd_to_zar":"13.281148","zar_to_usd":"0.075295","usd_to_zmk":"5253.075255","zmk_to_usd":"0.00019","usd_to_zmw":"9.871349","zmw_to_usd":"0.101303","usd_to_zwl":"322.387247","zwl_to_usd":"0.003102","usd_to_etc":"0.668141","etc_to_usd":"1.49669","btc_to_usd":"1019.98","usd_to_btc":"0.00098","btc_to_eur":"944.73","eur_to_btc":"0.001059","btc_to_gbp":"819.05","gbp_to_btc":"0.001221","eth_to_usd":"11.3","usd_to_eth":"0.088496","eth_to_btc":"0.01104","btc_to_eth":"90.57971","ltc_to_usd":"3.95","usd_to_ltc":"0.253165","ltc_to_btc":"0.00389","btc_to_ltc":"257.069409","btc_to_aed":"3746.49","btc_to_afn":"67771.04","btc_to_all":"129223.91","btc_to_amd":"494009.46","btc_to_ang":"1811.45","btc_to_aoa":"169221.31","btc_to_ars":"15921.89","btc_to_aud":"1330.89","btc_to_awg":"1835.96","btc_to_azn":"1975.4","btc_to_bam":"1849.93","btc_to_bbd":"2031.54","btc_to_bdt":"80880.69","btc_to_bgn":"1850.46","btc_to_bhd":"384.529","btc_to_bif":"1713510.79","btc_to_bmd":"1019.98","btc_to_bnd":"1435.02","btc_to_bob":"7013.17","btc_to_brl":"3179.69","btc_to_bsd":"1014.81","btc_to_btn":"68587.7","btc_to_bwp":"10672.54","btc_to_byn":"1954.39","btc_to_byr":"20426374.0","btc_to_bzd":"2040.13","btc_to_cad":"1328.07","btc_to_cdf":"1283450.62","btc_to_chf":"1012.39","btc_to_clf":"24.5795","btc_to_clp":"653399.0","btc_to_cny":"6963.51","btc_to_cop":"2906943.0","btc_to_crc":"565541.26","btc_to_cuc":"1019.98","btc_to_cve":"104726.45","btc_to_czk":"25578.32","btc_to_djf":"182341.82","btc_to_dkk":"7039.56","btc_to_dop":"47451.39","btc_to_dzd":"111724.53","btc_to_egp":"19131.25","btc_to_ern":"15636.29","btc_to_etb":"22995.58","btc_to_fjd":"2080.76","btc_to_fkp":"817.0","btc_to_gel":"2732.4","btc_to_ghs":"4460.89","btc_to_gip":"817.0","btc_to_gmd":"44654.72","btc_to_gnf":"9548491.77","btc_to_gtq":"7571.41","btc_to_gyd":"209371.48","btc_to_hkd":"7912.74","btc_to_hnl":"23952.6","btc_to_hrk":"7031.48","btc_to_htg":"68499.99","btc_to_huf":"293313.1","btc_to_idr":"13590366.52","btc_to_ils":"3827.27","btc_to_inr":"68527.36","btc_to_iqd":"1200196.33","btc_to_isk":"115156.0","btc_to_jmd":"130876.51","btc_to_jod":"722.554","btc_to_jpy":"114788.0","btc_to_kes":"105970.82","btc_to_kgs":"70820.93","btc_to_khr":"4134021.44","btc_to_kmf":"466433.44","btc_to_krw":"1160605.0","btc_to_kwd":"311.247","btc_to_kyd":"845.83","btc_to_kzt":"328551.91","btc_to_lak":"8241831.35","btc_to_lbp":"1532609.14","btc_to_lkr":"152677.77","btc_to_lrd":"95874.3","btc_to_lsl":"13635.31","btc_to_ltl":"3266.03","btc_to_lvl":"664.79","btc_to_lyd":"1441.888","btc_to_mad":"10176.41","btc_to_mdl":"20244.05","btc_to_mga":"3233720.8","btc_to_mkd":"58272.2","btc_to_mmk":"1387739.46","btc_to_mnt":"2516800.65","btc_to_mop":"8111.5","btc_to_mro":"364393.8","btc_to_mur":"36311.29","btc_to_mvr":"15784.11","btc_to_mwk":"734366.07","btc_to_mxn":"20808.82","btc_to_myr":"4512.39","btc_to_mzn":"71909.18","btc_to_nad":"13636.01","btc_to_ngn":"319673.53","btc_to_nio":"29920.54","btc_to_nok":"8372.37","btc_to_npr":"109342.0","btc_to_nzd":"1393.99","btc_to_omr":"392.7","btc_to_pab":"1014.89","btc_to_pen":"3324.85","btc_to_pgk":"3226.4","btc_to_php":"50732.66","btc_to_pkr":"106333.72","btc_to_pln":"4074.31","btc_to_pyg":"5830360.84","btc_to_qar":"3713.95","btc_to_ron":"4279.29","btc_to_rsd":"117277.3","btc_to_rub":"60112.01","btc_to_rwf":"849921.22","btc_to_sar":"3825.23","btc_to_sbd":"7931.18","btc_to_scr":"13641.51","btc_to_sek":"8943.54","btc_to_shp":"817.0","btc_to_sll":"7540712.14","btc_to_sos":"587065.47","btc_to_srd":"7678.92","btc_to_std":"23179963.88","btc_to_svc":"8880.99","btc_to_szl":"13628.57","btc_to_thb":"35729.9","btc_to_tjs":"8043.62","btc_to_tmt":"3575.01","btc_to_tnd":"2326.369","btc_to_top":"2337.71","btc_to_try":"3773.93","btc_to_ttd":"6820.93","btc_to_twd":"31539.04","btc_to_tzs":"2266533.34","btc_to_uah":"27576.78","btc_to_ugx":"3634647.73","btc_to_uyu":"28648.16","btc_to_uzs":"3291526.46","btc_to_vef":"10184.52","btc_to_vnd":"23005479.0","btc_to_vuv":"109857.0","btc_to_wst":"2591.1","btc_to_xaf":"620421.21","btc_to_xag":"58.0","btc_to_xau":"1.0","btc_to_xcd":"2756.55","btc_to_xdr":"751.0","btc_to_xof":"622194.96","btc_to_xpf":"113129.6","btc_to_yer":"255059.55","btc_to_zar":"13546.51","btc_to_zmk":"5358031.7","btc_to_zmw":"10068.58","btc_to_jep":"817.0","btc_to_ggp":"817.0","btc_to_imp":"817.0","btc_to_eek":"14800.29","btc_to_mtl":"697.4","btc_to_zwl":"328828.54","btc_to_sgd":"1436.53","eth_to_aed":"41.51","eth_to_afn":"750.81","eth_to_all":"1431.63","eth_to_amd":"5472.96","eth_to_ang":"20.07","eth_to_aoa":"1874.74","eth_to_ars":"176.39","eth_to_aud":"14.74","eth_to_awg":"20.34","eth_to_azn":"21.88","eth_to_bam":"20.49","eth_to_bbd":"22.51","eth_to_bdt":"896.05","eth_to_bgn":"20.5","eth_to_bhd":"4.26","eth_to_bif":"18983.38","eth_to_bmd":"11.3","eth_to_bnd":"15.9","eth_to_bob":"77.7","eth_to_brl":"35.23","eth_to_bsd":"11.24","eth_to_btn":"759.86","eth_to_bwp":"118.24","eth_to_byn":"21.65","eth_to_byr":"226297.0","eth_to_bzd":"22.6","eth_to_cad":"14.71","eth_to_cdf":"14218.9","eth_to_chf":"11.22","eth_to_clf":"0.2723","eth_to_clp":"7239.0","eth_to_cny":"77.15","eth_to_cop":"32205.0","eth_to_crc":"6265.43","eth_to_cuc":"11.3","eth_to_cve":"1160.23","eth_to_czk":"283.37","eth_to_djf":"2020.1","eth_to_dkk":"77.99","eth_to_dop":"525.7","eth_to_dzd":"1237.76","eth_to_egp":"211.95","eth_to_ern":"173.23","eth_to_etb":"254.76","eth_to_eur":"10.49","eth_to_fjd":"23.05","eth_to_fkp":"9.05","eth_to_gbp":"9.05","eth_to_gel":"30.27","eth_to_ghs":"49.42","eth_to_gip":"9.05","eth_to_gmd":"494.71","eth_to_gnf":"105784.38","eth_to_gtq":"83.88","eth_to_gyd":"2319.55","eth_to_hkd":"87.66","eth_to_hnl":"265.36","eth_to_hrk":"77.9","eth_to_htg":"758.89","eth_to_huf":"3249.51","eth_to_idr":"150562.9","eth_to_ils":"42.4","eth_to_inr":"759.19","eth_to_iqd":"13296.553","eth_to_isk":"1276.0","eth_to_jmd":"1449.93","eth_to_jod":"8.005","eth_to_jpy":"1272.0","eth_to_kes":"1174.01","eth_to_kgs":"784.6","eth_to_khr":"45799.37","eth_to_kmf":"5167.45","eth_to_krw":"12858.0","eth_to_kwd":"3.448","eth_to_kyd":"9.37","eth_to_kzt":"3639.91","eth_to_lak":"91308.35","eth_to_lbp":"16979.24","eth_to_lkr":"1691.46","eth_to_lrd":"1062.16","eth_to_lsl":"151.06","eth_to_ltl":"36.18","eth_to_lvl":"7.36","eth_to_lyd":"15.974","eth_to_mad":"112.74","eth_to_mdl":"224.28","eth_to_mga":"35825.2","eth_to_mkd":"645.58","eth_to_mmk":"15374.28","eth_to_mnt":"27882.75","eth_to_mop":"89.86","eth_to_mro":"4037.0","eth_to_mur":"402.28","eth_to_mvr":"174.87","eth_to_mwk":"8135.78","eth_to_mxn":"230.53","eth_to_myr":"49.99","eth_to_mzn":"796.66","eth_to_nad":"151.07","eth_to_ngn":"3541.55","eth_to_nio":"331.48","eth_to_nok":"92.75","eth_to_npr":"1211.36","eth_to_nzd":"15.44","eth_to_omr":"4.351","eth_to_pab":"11.24","eth_to_pen":"36.83","eth_to_pgk":"35.74","eth_to_php":"562.05","eth_to_pkr":"1178.03","eth_to_pln":"45.14","eth_to_pyg":"64592.52","eth_to_qar":"41.15","eth_to_ron":"47.41","eth_to_rsd":"1299.27","eth_to_rub":"665.96","eth_to_rwf":"9415.98","eth_to_sar":"42.38","eth_to_sbd":"87.87","eth_to_scr":"151.13","eth_to_sek":"99.08","eth_to_shp":"9.05","eth_to_sll":"83540.9","eth_to_sos":"6503.89","eth_to_srd":"85.07","eth_to_std":"256802.67","eth_to_svc":"98.39","eth_to_szl":"150.99","eth_to_thb":"395.84","eth_to_tjs":"89.11","eth_to_tmt":"39.61","eth_to_tnd":"25.773","eth_to_top":"25.9","eth_to_try":"41.81","eth_to_ttd":"75.57","eth_to_twd":"349.41","eth_to_tzs":"25110.13","eth_to_uah":"305.51","eth_to_ugx":"40266.98","eth_to_uyu":"317.38","eth_to_uzs":"36465.66","eth_to_vef":"112.83","eth_to_vnd":"254870.0","eth_to_vuv":"1217.0","eth_to_wst":"28.71","eth_to_xaf":"6873.43","eth_to_xag":"1.0","eth_to_xau":"0.0","eth_to_xcd":"30.54","eth_to_xdr":"8.0","eth_to_xof":"6893.08","eth_to_xpf":"1253.32","eth_to_yer":"2825.72","eth_to_zar":"150.08","eth_to_zmk":"59359.75","eth_to_zmw":"111.55","eth_to_jep":"9.05","eth_to_ggp":"9.05","eth_to_imp":"9.05","eth_to_eek":"163.97","eth_to_mtl":"7.73","eth_to_zwl":"3642.98","eth_to_sgd":"15.91"}

'
  recorded_at: Mon, 06 Feb 2017 05:24:54 GMT
recorded_with: VCR 3.0.3
