---
http_interactions:
- request:
    method: get
    uri: http://api.huobi.com/staticmarket/ticker_btc_json.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
      X-Nws-Log-Uuid:
      - 1629d541-a134-4dda-821d-624f741092ed
    body:
      encoding: UTF-8
      string: '{"time":"1486358696","ticker":{"symbol":"btccny","vol":10939.1413,"high":7250,"last":7216.25,"low":7150,"sell":7220,"buy":7212.5,"open":7194.68}
        }'
  recorded_at: Mon, 06 Feb 2017 05:24:56 GMT
- request:
    method: get
    uri: http://api.huobi.com/staticmarket/ticker_ltc_json.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
      X-Nws-Log-Uuid:
      - 12017f7b-96e3-45f9-8e62-d548ff04b1be
    body:
      encoding: UTF-8
      string: '{"time":"1486358697","ticker":{"symbol":"ltccny","vol":168709.3398,"high":28.06,"last":27.99,"low":27.85,"sell":28,"buy":27.99,"open":27.91}
        }'
  recorded_at: Mon, 06 Feb 2017 05:24:57 GMT
recorded_with: VCR 3.0.3
