---
http_interactions:
- request:
    method: get
    uri: http://api.huobi.com/staticmarket/ticker_btc_json.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"1466406228","ticker":{"open":5108.77,"vol":510742.6937,"symbol":"btccny","last":5081,"buy":5081,"sell":5081.09,"high":5138,"low":5010.5}
        }'
  recorded_at: Mon, 20 Jun 2016 07:03:48 GMT
- request:
    method: get
    uri: http://api.huobi.com/staticmarket/ticker_ltc_json.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"1466406229","ticker":{"open":37.46,"vol":46826640.2353,"symbol":"ltccny","last":36.9,"buy":36.9,"sell":36.91,"high":37.59,"low":36.59}
        }'
  recorded_at: Mon, 20 Jun 2016 07:03:49 GMT
recorded_with: VCR 3.0.3
