---
http_interactions:
- request:
    method: get
    uri: http://api.huobi.com/staticmarket/ticker_btc_json.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"1466497520","ticker":{"open":4961.18,"vol":602328.2638,"symbol":"btccny","last":4791.5,"buy":4792.1,"sell":4792.99,"high":4993,"low":4650}
        }'
  recorded_at: Tue, 21 Jun 2016 08:25:20 GMT
- request:
    method: get
    uri: http://api.huobi.com/staticmarket/ticker_ltc_json.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"time":"1466497521","ticker":{"open":36.11,"vol":65225442.1187,"symbol":"ltccny","last":34.25,"buy":34.24,"sell":34.25,"high":36.26,"low":32.53}
        }'
  recorded_at: Tue, 21 Jun 2016 08:25:21 GMT
recorded_with: VCR 3.0.3
