---
http_interactions:
- request:
    method: get
    uri: https://api.kraken.com/0/public/Ticker?pair=xbtusd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":[],"result":{"XXBTZUSD":{"a":["1018.00000","1","1.000"],"b":["1017.71000","24","24.000"],"c":["1018.00000","0.00139780"],"v":["140.87496222","1186.97757850"],"p":["1019.57961","1017.84325"],"t":[407,2092],"l":["1013.75000","1005.40000"],"h":["1024.00000","1030.00000"],"o":"1017.88600"}}}'
  recorded_at: Mon, 06 Feb 2017 05:24:58 GMT
- request:
    method: get
    uri: https://api.kraken.com/0/public/Ticker?pair=xbteur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":[],"result":{"XXBTZEUR":{"a":["946.99900","1","1.000"],"b":["945.33000","6","6.000"],"c":["945.33000","0.33190000"],"v":["350.90083527","4825.99524551"],"p":["945.36841","944.38709"],"t":[687,6669],"l":["940.00000","935.00000"],"h":["948.00000","959.08900"],"o":"943.60000"}}}'
  recorded_at: Mon, 06 Feb 2017 05:25:00 GMT
recorded_with: VCR 3.0.3
