---
http_interactions:
- request:
    method: get
    uri: https://api.kraken.com/0/public/Ticker?pair=xbtusd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":[],"result":{"XXBTZUSD":{"a":["2511.88400","1","1.000"],"b":["1018.00000","5","5.000"],"c":["1018.00000","0.30000000"],"v":["2633.12341463","3864.11048862"],"p":["2561.39405","2572.10762"],"t":[6405,9427],"l":["2500.00000","2500.00000"],"h":["2613.99300","2615.00000"],"o":"2605.64100"}}}'
  recorded_at: Fri, 07 Jul 2017 14:22:20 GMT
- request:
    method: get
    uri: https://api.kraken.com/0/public/Ticker?pair=xbteur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":[],"result":{"XXBTZEUR":{"a":["2209.91100","5","5.000"],"b":["945.33000","1","1.000"],"c":["945.33000","0.02653398"],"v":["5233.29645560","7648.83316547"],"p":["2235.89989","2249.70379"],"t":[13098,20659],"l":["2189.67000","2189.67000"],"h":["2288.25800","2290.77900"],"o":"2284.69200"}}}'
  recorded_at: Fri, 07 Jul 2017 14:22:21 GMT
- request:
    method: get
    uri: https://api.kraken.com/0/public/Ticker?pair=ltcusd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":[],"result":{"XLTCZUSD":{"a":["46.31299","10","10.000"],"b":["46.10008","20","20.000"],"c":["46.10003","1.00000000"],"v":["25860.06146258","41962.36292092"],"p":["48.20874","49.25912"],"t":[2468,3047],"l":["45.78800","45.78800"],"h":["51.59990","52.10031"],"o":"51.01002"}}}'
  recorded_at: Fri, 07 Jul 2017 14:22:22 GMT
- request:
    method: get
    uri: https://api.kraken.com/0/public/Ticker?pair=ltceur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":[],"result":{"XLTCZEUR":{"a":["40.74999","86","86.000"],"b":["40.62900","30","30.000"],"c":["40.74999","0.01050000"],"v":["53028.04209664","63233.70263117"],"p":["41.75383","42.21588"],"t":[4052,5246],"l":["40.02000","40.02000"],"h":["45.08076","45.67800"],"o":"45.00925"}}}'
  recorded_at: Fri, 07 Jul 2017 14:22:23 GMT
recorded_with: VCR 3.0.3
