---
http_interactions:
- request:
    method: get
    uri: https://api.kraken.com/0/public/Ticker?pair=xbtusd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":[],"result":{"XXBTZUSD":{"a":["758.50900","53","53.000"],"b":["755.35300","3","3.000"],"c":["755.15000","0.88350000"],"v":["644.83315964","5488.21581492"],"p":["752.37956","763.98299"],"t":[983,5366],"l":["745.03000","745.00000"],"h":["761.02000","781.14800"],"o":"758.11000"}}}'
  recorded_at: Sun, 19 Jun 2016 08:30:57 GMT
- request:
    method: get
    uri: https://api.kraken.com/0/public/Ticker?pair=xbteur
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":[],"result":{"XXBTZEUR":{"a":["671.21500","1","1.000"],"b":["671.21400","1","1.000"],"c":["671.21500","0.08714000"],"v":["1548.25746642","11325.90266782"],"p":["667.89052","675.58056"],"t":[3023,17388],"l":["660.01500","660.00000"],"h":["675.00000","694.26000"],"o":"674.30000"}}}'
  recorded_at: Sun, 19 Jun 2016 08:30:58 GMT
recorded_with: VCR 3.0.3
