---
http_interactions:
- request:
    method: get
    uri: https://localbitcoins.com/bitcoinaverage/ticker-all-currencies/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"COP": {"avg_12h": "1503759.40", "volume_btc": "5.89580000", "avg_24h":
        "1487922.72", "rates": {"last": "1529051.99"}}, "USD": {"avg_12h": "549.03",
        "volume_btc": "813.31260000", "avg_24h": "585.42", "avg_1h": "491.37", "rates":
        {"last": "591.95"}, "avg_6h": "592.46"}, "IDR": {"volume_btc": "0.04170000",
        "avg_24h": "7182254.20", "rates": {"last": "7182254.20"}}, "PEN": {"avg_12h":
        "2016.24", "volume_btc": "0.37340000", "avg_24h": "2000.54", "rates": {"last":
        "2016.24"}}, "AED": {"avg_12h": "2119.45", "volume_btc": "8.94690000", "avg_24h":
        "2077.13", "rates": {"last": "2137.97"}, "avg_6h": "2137.40"}, "GBP": {"avg_12h":
        "373.12", "volume_btc": "430.10190000", "avg_24h": "365.95", "avg_1h": "373.90",
        "rates": {"last": "373.97"}, "avg_6h": "373.84"}, "DOP": {"volume_btc": "0.51290000",
        "avg_24h": "25346.07", "rates": {"last": "25346.07"}}, "DKK": {"avg_12h":
        "3857.28", "volume_btc": "0.36190000", "avg_24h": "4144.79", "rates": {"last":
        "3857.28"}, "avg_6h": "3857.28"}, "CAD": {"avg_12h": "709.98", "volume_btc":
        "12.09200000", "avg_24h": "704.94", "avg_1h": "731.43", "rates": {"last":
        "731.43"}, "avg_6h": "698.18"}, "PKR": {"avg_12h": "53386.11", "volume_btc":
        "10.37130000", "avg_24h": "52970.91", "avg_1h": "52567.96", "rates": {"last":
        "55370.99"}, "avg_6h": "53377.91"}, "HUF": {"avg_12h": "152366.44", "volume_btc":
        "1.05010000", "avg_24h": "152366.44", "rates": {"last": "160342.06"}, "avg_6h":
        "152366.44"}, "VND": {"avg_12h": "10671916.14", "volume_btc": "5.90530000",
        "avg_24h": "10671916.14", "rates": {"last": "12755158.91"}, "avg_6h": "10671916.14"},
        "RON": {"avg_12h": "2082.04", "volume_btc": "20.70270000", "avg_24h": "2072.03",
        "avg_1h": "1964.15", "rates": {"last": "2230.15"}, "avg_6h": "2082.04"}, "MYR":
        {"avg_12h": "2217.83", "volume_btc": "40.54900000", "avg_24h": "2233.80",
        "avg_1h": "2264.63", "rates": {"last": "2375.30"}, "avg_6h": "2267.61"}, "UAH":
        {"avg_12h": "13183.60", "volume_btc": "3.64870000", "avg_24h": "13073.26",
        "rates": {"last": "13912.08"}, "avg_6h": "13603.28"}, "SAR": {"volume_btc":
        "0.27130000", "avg_24h": "2027.27", "rates": {"last": "2172.02"}}, "SEK":
        {"avg_12h": "4671.10", "volume_btc": "82.62260000", "avg_24h": "4646.47",
        "avg_1h": "4750.02", "rates": {"last": "4709.58"}, "avg_6h": "4649.56"}, "SGD":
        {"avg_12h": "753.63", "volume_btc": "10.73370000", "avg_24h": "755.08", "rates":
        {"last": "762.52"}, "avg_6h": "758.96"}, "HKD": {"avg_12h": "4204.58", "volume_btc":
        "5.20370000", "avg_24h": "4147.98", "rates": {"last": "4396.81"}, "avg_6h":
        "4396.81"}, "AUD": {"avg_12h": "747.65", "volume_btc": "299.03490000", "avg_24h":
        "747.58", "avg_1h": "751.86", "rates": {"last": "727.88"}, "avg_6h": "749.57"},
        "CHF": {"avg_12h": "529.13", "volume_btc": "2.95320000", "avg_24h": "529.26",
        "rates": {"last": "500.00"}, "avg_6h": "529.13"}, "IRR": {"volume_btc": "0.55670000",
        "avg_24h": "17962996.23", "rates": {"last": "17962996.23"}}, "BYR": {"volume_btc":
        "0.12010000", "avg_24h": "13530391.34", "rates": {"last": "13618677.04"}},
        "CNY": {"avg_12h": "3778.78", "volume_btc": "110.33540000", "avg_24h": "3683.94",
        "avg_1h": "3871.01", "rates": {"last": "3877.07"}, "avg_6h": "3717.22"}, "VEF":
        {"avg_12h": "472609.86", "volume_btc": "13.65000000", "avg_24h": "459761.11",
        "rates": {"last": "467460.00"}, "avg_6h": "467460.00"}, "HRK": {"avg_12h":
        "3783.39", "volume_btc": "15.30820000", "avg_24h": "3781.95", "avg_1h": "3805.72",
        "rates": {"last": "3815.79"}, "avg_6h": "3786.51"}, "NZD": {"avg_12h": "823.61",
        "volume_btc": "31.42280000", "avg_24h": "823.98", "avg_1h": "895.02", "rates":
        {"last": "909.00"}, "avg_6h": "805.59"}, "CLP": {"avg_12h": "412087.91", "volume_btc":
        "0.44590000", "avg_24h": "387972.26", "rates": {"last": "411522.63"}}, "THB":
        {"avg_12h": "19028.11", "volume_btc": "29.77660000", "avg_24h": "19058.49",
        "avg_1h": "20600.35", "rates": {"last": "20703.93"}, "avg_6h": "18964.44"},
        "EUR": {"avg_12h": "462.44", "volume_btc": "116.81960000", "avg_24h": "462.18",
        "avg_1h": "481.75", "rates": {"last": "585.31"}, "avg_6h": "459.80"}, "TRY":
        {"avg_12h": "1555.77", "volume_btc": "3.56490000", "avg_24h": "1560.96", "rates":
        {"last": "1528.55"}, "avg_6h": "1555.77"}, "ARS": {"avg_12h": "7205.24", "volume_btc":
        "1.05040000", "avg_24h": "7425.74", "rates": {"last": "7205.24"}}, "NOK":
        {"avg_12h": "4461.10", "volume_btc": "37.73380000", "avg_24h": "4470.77",
        "avg_1h": "4539.18", "rates": {"last": "4539.18"}, "avg_6h": "4402.57"}, "RUB":
        {"avg_12h": "34758.32", "volume_btc": "689.11840000", "avg_24h": "34640.07",
        "avg_1h": "34954.05", "rates": {"last": "35732.81"}, "avg_6h": "34717.01"},
        "ZAR": {"avg_12h": "9063.20", "volume_btc": "94.54370000", "avg_24h": "8941.39",
        "avg_1h": "9227.35", "rates": {"last": "8705.88"}, "avg_6h": "9077.46"}, "INR":
        {"avg_12h": "35937.90", "volume_btc": "51.45810000", "avg_24h": "35618.95",
        "avg_1h": "36250.09", "rates": {"last": "37593.98"}, "avg_6h": "36008.48"},
        "MXN": {"avg_12h": "11637.14", "volume_btc": "3.57150000", "avg_24h": "10800.50",
        "rates": {"last": "11904.76"}, "avg_6h": "11904.76"}, "CZK": {"avg_12h": "12328.35",
        "volume_btc": "6.32060000", "avg_24h": "12332.65", "avg_1h": "13210.04", "rates":
        {"last": "13210.04"}, "avg_6h": "13287.98"}, "BRL": {"avg_12h": "1999.03",
        "volume_btc": "0.47280000", "avg_24h": "2014.02", "avg_1h": "1976.00", "rates":
        {"last": "1976.00"}, "avg_6h": "1996.80"}, "MAD": {"avg_12h": "5965.80", "volume_btc":
        "6.34450000", "avg_24h": "5965.80", "rates": {"last": "5950.34"}, "avg_6h":
        "5965.80"}, "PLN": {"avg_12h": "2004.16", "volume_btc": "3.82930000", "avg_24h":
        "2000.37", "rates": {"last": "2004.16"}, "avg_6h": "2004.16"}, "PHP": {"avg_12h":
        "24946.21", "volume_btc": "11.71690000", "avg_24h": "24946.21", "rates": {"last":
        "25704.80"}, "avg_6h": "25798.16"}, "KES": {"avg_12h": "58377.91", "volume_btc":
        "11.51080000", "avg_24h": "58604.42", "avg_1h": "59061.04", "rates": {"last":
        "59283.39"}, "avg_6h": "58119.21"}}'
  recorded_at: Mon, 30 May 2016 12:37:29 GMT
recorded_with: VCR 3.0.3
