---
http_interactions:
- request:
    method: get
    uri: https://localbitcoins.com/bitcoinaverage/ticker-all-currencies/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"COP": {"avg_12h": "2707980.79", "volume_btc": "2.71120000", "avg_24h":
        "2712238.71", "rates": {"last": "2704649.05"}, "avg_6h": "2704197.30"}, "USD":
        {"avg_12h": "1181.34", "volume_btc": "418.83530000", "avg_24h": "1189.03",
        "avg_1h": "1271.11", "rates": {"last": "1420.45"}, "avg_6h": "1207.01"}, "TWD":
        {"volume_btc": "0.45900000", "avg_24h": "32679.74", "rates": {"last": "33355.57"}},
        "NGN": {"avg_12h": "493140.13", "volume_btc": "123.75860000", "avg_24h": "496864.91",
        "avg_1h": "500046.99", "rates": {"last": "503680.74"}, "avg_6h": "494619.03"},
        "EGP": {"volume_btc": "0.11940000", "avg_24h": "23450.59", "rates": {"last":
        "23450.59"}}, "IDR": {"volume_btc": "1.63510000", "avg_24h": "12568038.65",
        "rates": {"last": "12500000.00"}}, "ISK": {"volume_btc": "0.22000000", "avg_24h":
        "126640.45", "rates": {"last": "126640.45"}}, "PEN": {"avg_12h": "3623.19",
        "volume_btc": "0.51170000", "avg_24h": "3650.58", "rates": {"last": "3663.00"},
        "avg_6h": "3642.99"}, "AED": {"avg_12h": "3895.79", "volume_btc": "4.13630000",
        "avg_24h": "4105.12", "rates": {"last": "3895.60"}}, "GBP": {"avg_12h": "827.68",
        "volume_btc": "199.48760000", "avg_24h": "829.35", "avg_1h": "890.03", "rates":
        {"last": "854.70"}, "avg_6h": "836.53"}, "DOP": {"avg_12h": "42878.30", "volume_btc":
        "4.00950000", "avg_24h": "42878.30", "rates": {"last": "52631.58"}, "avg_6h":
        "52631.58"}, "DKK": {"avg_12h": "7401.22", "volume_btc": "1.73110000", "avg_24h":
        "7577.06", "rates": {"last": "6318.72"}, "avg_6h": "6318.72"}, "CAD": {"avg_12h":
        "1338.43", "volume_btc": "36.84370000", "avg_24h": "1357.09", "avg_1h": "1472.54",
        "rates": {"last": "1416.67"}, "avg_6h": "1330.31"}, "PKR": {"avg_12h": "106279.78",
        "volume_btc": "8.94610000", "avg_24h": "106543.91", "avg_1h": "108958.84",
        "rates": {"last": "108958.84"}, "avg_6h": "103991.98"}, "JPY": {"avg_12h":
        "140081.84", "volume_btc": "1.23700000", "avg_24h": "139718.67", "avg_1h":
        "143122.94", "rates": {"last": "143122.94"}, "avg_6h": "143080.12"}, "TZS":
        {"avg_12h": "2168224.30", "volume_btc": "0.63650000", "avg_24h": "2354108.20",
        "rates": {"last": "2168224.30"}}, "RON": {"avg_12h": "3843.97", "volume_btc":
        "5.76280000", "avg_24h": "4127.42", "rates": {"last": "3871.43"}}, "MYR":
        {"avg_12h": "4495.73", "volume_btc": "45.43860000", "avg_24h": "4520.72",
        "avg_1h": "4541.52", "rates": {"last": "4539.26"}, "avg_6h": "4495.45"}, "UAH":
        {"avg_12h": "25989.91", "volume_btc": "9.11780000", "avg_24h": "26055.47",
        "rates": {"last": "27777.78"}}, "SAR": {"avg_12h": "3940.87", "volume_btc":
        "3.88620000", "avg_24h": "4054.69", "rates": {"last": "4100.04"}, "avg_6h":
        "4100.04"}, "SEK": {"avg_12h": "9247.91", "volume_btc": "36.51320000", "avg_24h":
        "9179.18", "rates": {"last": "8869.97"}, "avg_6h": "9066.69"}, "SGD": {"avg_12h":
        "1512.69", "volume_btc": "2.40320000", "avg_24h": "1495.50", "rates": {"last":
        "1525.94"}, "avg_6h": "1518.54"}, "HKD": {"avg_12h": "7636.46", "volume_btc":
        "3.05590000", "avg_24h": "7705.09", "avg_1h": "8077.54", "rates": {"last":
        "8077.54"}, "avg_6h": "7636.46"}, "AUD": {"avg_12h": "1409.57", "volume_btc":
        "130.83850000", "avg_24h": "1412.45", "avg_1h": "1413.27", "rates": {"last":
        "1474.93"}, "avg_6h": "1409.75"}, "CHF": {"avg_12h": "1021.66", "volume_btc":
        "0.24470000", "avg_24h": "1021.66", "rates": {"last": "1039.50"}}, "IRR":
        {"volume_btc": "0.06000000", "avg_24h": "37473399.67", "rates": {"last": "37473399.67"}},
        "BYR": {"volume_btc": "0.00030000", "avg_24h": "21580300.00", "rates": {"last":
        "21546500.00"}}, "CNY": {"avg_12h": "7105.48", "volume_btc": "20.94060000",
        "avg_24h": "7137.71", "avg_1h": "6979.97", "rates": {"last": "6979.97"}, "avg_6h":
        "7105.48"}, "TRY": {"avg_12h": "3915.50", "volume_btc": "5.22350000", "avg_24h":
        "4176.22", "rates": {"last": "3968.25"}, "avg_6h": "3968.25"}, "HRK": {"avg_12h":
        "6559.27", "volume_btc": "0.30680000", "avg_24h": "6617.02", "rates": {"last":
        "6581.74"}}, "NZD": {"avg_12h": "1454.16", "volume_btc": "6.10280000", "avg_24h":
        "1443.14", "avg_1h": "1439.62", "rates": {"last": "1446.13"}, "avg_6h": "1444.63"},
        "CLP": {"avg_12h": "668368.27", "volume_btc": "1.06380000", "avg_24h": "673432.76",
        "avg_1h": "654664.48", "rates": {"last": "654664.48"}, "avg_6h": "657317.46"},
        "THB": {"avg_12h": "34681.33", "volume_btc": "27.53820000", "avg_24h": "34777.51",
        "avg_1h": "34501.58", "rates": {"last": "34510.12"}, "avg_6h": "34451.00"},
        "EUR": {"avg_12h": "997.25", "volume_btc": "26.64990000", "avg_24h": "1014.13",
        "avg_1h": "913.64", "rates": {"last": "913.91"}, "avg_6h": "938.43"}, "VEF":
        {"avg_12h": "3204276.80", "volume_btc": "28.77380000", "avg_24h": "3223429.02",
        "rates": {"last": "3000000.00"}, "avg_6h": "3142984.47"}, "ARS": {"avg_12h":
        "16267.03", "volume_btc": "1.53340000", "avg_24h": "16267.03", "avg_1h": "16067.01",
        "rates": {"last": "16067.01"}, "avg_6h": "15973.30"}, "KZT": {"volume_btc":
        "0.27760000", "avg_24h": "360230.55", "rates": {"last": "360230.55"}}, "NOK":
        {"avg_12h": "8521.33", "volume_btc": "7.91190000", "avg_24h": "8527.03", "avg_1h":
        "8611.54", "rates": {"last": "8680.52"}, "avg_6h": "8537.98"}, "RUB": {"avg_12h":
        "59954.27", "volume_btc": "659.54430000", "avg_24h": "60532.76", "avg_1h":
        "59629.25", "rates": {"last": "62287.66"}, "avg_6h": "59596.66"}, "ZAR": {"avg_12h":
        "14674.86", "volume_btc": "19.78060000", "avg_24h": "14672.55", "avg_1h":
        "15094.34", "rates": {"last": "15094.34"}, "avg_6h": "15118.79"}, "INR": {"avg_12h":
        "70147.21", "volume_btc": "50.47420000", "avg_24h": "70753.09", "avg_1h":
        "70100.54", "rates": {"last": "70134.36"}, "avg_6h": "70288.30"}, "MXN": {"avg_12h":
        "21468.26", "volume_btc": "3.29670000", "avg_24h": "21642.12", "avg_1h": "22450.89",
        "rates": {"last": "22446.69"}, "avg_6h": "21882.37"}, "CZK": {"avg_12h": "26132.40",
        "volume_btc": "0.44490000", "avg_24h": "25898.31", "rates": {"last": "26178.01"}},
        "BRL": {"avg_12h": "3018.87", "volume_btc": "5.11540000", "avg_24h": "3124.70",
        "rates": {"last": "2631.58"}, "avg_6h": "2861.23"}, "PLN": {"volume_btc":
        "4.10450000", "avg_24h": "3929.83", "rates": {"last": "3880.60"}}, "PHP":
        {"avg_12h": "52661.25", "volume_btc": "1.04600000", "avg_24h": "52530.69",
        "rates": {"last": "53380.78"}, "avg_6h": "52661.25"}, "KES": {"avg_12h": "105350.08",
        "volume_btc": "7.15640000", "avg_24h": "105793.34", "rates": {"last": "107296.14"},
        "avg_6h": "104938.27"}}'
  recorded_at: Mon, 06 Feb 2017 05:25:02 GMT
recorded_with: VCR 3.0.3
